<%= javascript_include_tag "jsts.min" %>
<%= javascript_include_tag "wellknown.js" %>

<% content_for :title, "Emergency Isoline Routing" %>

<div class="ctrl-panel">
	<span id="toggle-ctrl-panel" class="glyphicon glyphicon-menu-left"></span>
	<div class="form-group">
		<label for="day">Day:</label>
		<select id="day_selector" class="form-control input-sm input-wide" onchange="updateIsolines()">
			<option value="0">Sunday</option>	
			<option value="1">Monday</option>
			<option value="2">Tuesday</option>
			<option value="3" selected>Wednesday</option>
			<option value="4">Thursday</option>
			<option value="5">Friday</option>
			<option value="6">Saturday</option>
		</select>
	</div>
	
	<div class="form-group">
		<div id="time_output">Time of Day: 00:00</div>
		<input type="range" id="time_slider" min="0" value="0" max="240" step="1" onmouseup="updateIsolines()" onchange="updateTimeOfDay()" onmousemove="updateTimeOfDay()">
	</div>
	
	<div id="bar1" style="position:relative">
		<div id="text1">travel time: 5 min</div>
		<input type="range" id="travel_time_slider" min="0" value="5" max="20" step="1" onmouseup="updateIsolines()" onchange="updateTravelTimeValue(this.value)" onmousemove="updateTravelTimeValue(this.value)">
	</div><br />

	<div>HLP Service releases which are used in this demo:</div>
	<div id="releaseInfoTxt" style="left:0; top:0; z-index: 0;"></div>
</div>

<div id="mapContainer"></div>
<script>
	/*
	author domschuette
	(C) HERE 2019
	*/

	// Check whether the environment should use hi-res maps
	var hidpi = ('devicePixelRatio' in window && devicePixelRatio > 1);

	// check if the site was loaded via secure connection
	var secure = (location.protocol === 'https:') ? true : false;

	// Create a platform object to communicate with the HERE REST APIs
	var platform = new H.service.Platform({
		apikey: api_key,
		useHTTPS: secure
	}),
	maptypes = platform.createDefaultLayers(),
	group = new H.map.Group(),

	pois = [
		new H.geo.Point(53.59441, 10.13821),
		new H.geo.Point(53.59441, 10.13821),
		new H.geo.Point(53.59557, 10.05946),
		new H.geo.Point(53.59557, 10.05946),
		new H.geo.Point(53.62223, 10.15153),
		new H.geo.Point(53.62223, 10.15153),
		new H.geo.Point(53.57686, 9.95168),
		new H.geo.Point(53.57686, 9.95168),
		new H.geo.Point(53.57971, 10.04167),
		new H.geo.Point(53.57971, 10.04167),
		new H.geo.Point(53.66179, 10.00759),
		new H.geo.Point(53.66179, 10.00759),
		new H.geo.Point(53.57978, 10.10457),
		new H.geo.Point(53.57978, 10.10457),
		new H.geo.Point(53.49421, 10.20648),
		new H.geo.Point(53.49421, 10.20648),
		new H.geo.Point(53.56842, 9.96745),
		new H.geo.Point(53.56842, 9.96745),
		new H.geo.Point(53.58654, 10.12603),
		new H.geo.Point(53.58654, 10.12603),
		new H.geo.Point(53.62647, 9.91114),
		new H.geo.Point(53.62647, 9.91114),
		new H.geo.Point(53.45147, 9.98308),
		new H.geo.Point(53.45147, 9.98308),
		new H.geo.Point(53.6047, 10.03978),
		new H.geo.Point(53.6047, 10.03978),
		new H.geo.Point(53.57709, 9.95162),
		new H.geo.Point(53.57709, 9.95162),
		new H.geo.Point(53.48084, 9.8760999),
		new H.geo.Point(53.48084, 9.8760999),
		new H.geo.Point(53.56679, 9.91732),
		new H.geo.Point(53.48499, 10.16024),
		new H.geo.Point(53.58511, 10.09153),
		new H.geo.Point(53.59375, 10.05892),
		new H.geo.Point(53.59237, 9.9982399),
		new H.geo.Point(53.57487, 10.10092),
		new H.geo.Point(53.59948, 9.95788),
		new H.geo.Point(53.6535284, 10.0622267),
		new H.geo.Point(53.58418, 10.07867),
		new H.geo.Point(53.57927, 9.94815),
		new H.geo.Point(53.55313, 10.01969),
		new H.geo.Point(53.48458, 10.14938),
		new H.geo.Point(53.57181, 9.91535),
		new H.geo.Point(53.58003, 9.85072),
		new H.geo.Point(53.52481, 9.90007),
		new H.geo.Point(53.5474751, 9.9692135),
		new H.geo.Point(53.56994, 10.09783),
		new H.geo.Point(53.58291, 10.02907)
	];

	// Instantiate a map in the 'map' div, set the base map to normal
	var map = new H.Map(document.getElementById('mapContainer'),maptypes.vector.normal.map, {
		center: new H.geo.Point(53.55539,10.05423),
		zoom: 11,
		pixelRatio: hidpi ? 2 : 1
	});

	// Do not draw under control panel
	map.getViewPort().setPadding(0, 0, 0, $('.ctrl-panel').width());

	// Enable the map event system
	var mapevents = new H.mapevents.MapEvents(map);

	// Enable map interaction (pan, zoom, pinch-to-zoom)
	var behavior = new H.mapevents.Behavior(mapevents);

	// Enable the default UI
	var ui = H.ui.UI.createDefault(map, maptypes);

	window.addEventListener('resize', function() { map.getViewPort().resize(); });
	
	var addMarker = function(coord)
	{
		var elem = document.createElement('div');
		
		elem.style.backgroundImage = 'url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCI+IDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNCw5djNsMCwwYzAsMi43Ni0yLjI0LDUtNSw1Yy0yLjc2LDAtNS0yLjI0LTUtNWwwLDBWOWMxLjI3LDAuNywzLjA0LDEsNSwxUzEyLjczLDkuNywxNCw5eiBNMTYsNS4xNyAKIEwxNCw4SDlINEwyLDUuMTdMOSwxTDE2LDUuMTd6IE0xMSw0LjcxYzAtMC4yNS0wLjA0LTAuNDgtMC4xMS0wLjcxSDcuMTFDNy4wNCw0LjIzLDcsNC40Niw3LDQuNzFDNyw1LjksNy44Myw2LjkxLDksNy4zMyAKIEMxMC4xNyw2LjkxLDExLDUuOSwxMSw0LjcxeiIvPiAKPC9zdmc+")';
		elem.style.backgroundColor = 'rgb(0, 180, 229)';
		elem.style.zIndex = '7';
		elem.style.transform = 'matrix(1, 0, 0, 1, 617, 211)';
		elem.style.position = 'absolute';
		elem.style.backgroundSize = '1.8rem 1.8rem';
		elem.style.backgroundPositionX = '50%';
		elem.style.backgroundPositionY = 'center';
		elem.style.height = '2rem';
		elem.style.left = '-1.1rem';
		elem.style.top = '-1.1rem';
		elem.style.width = '2rem';		
		
		var domIcon = new H.map.DomIcon(elem);
		
		var marker = new H.map.DomMarker(coord, {
			icon: domIcon
		});
		map.addObject(marker);
	}

	var getIsoline = function(coord, index)
	{
		var day_selector = document.getElementById("day_selector"),
			td = new Date(),
			t = (Math.ceil(time_slider.value / 240 * 96) / 4),
			traveltime = document.getElementById("travel_time_slider").value * 60,
			hour = Math.floor(t),
			h = t.toFixed(2),
			minutes = (h % 1) * 60,
			date = new Date(td.getFullYear(),td.getMonth(),td.getDate()+(parseInt(day_selector.selectedIndex)-td.getDay() + 7));
		date.setHours(hour);
		date.setMinutes(minutes);
		
		var departure = date.toISOString();

		
		var worker = new Worker('/assets/isoline_worker.js');
		worker.addEventListener('message', receiveMessage);

		// set the init parameters
		var params = new Object();
		params.coord = coord;
		params.traveltime = traveltime;
		params.app_id = app_id;
		params.app_code = app_code;
		params.departure = departure;
		params.index = index;

		worker.postMessage(params);
		
	}

	var receiveMessage = function(response)
	{
		if(response && response.data.isoline && response.data.isoline.length > 0)
		{
			var components = response.data.isoline[0].component,
				jsts_reader = new jsts.io.WKTReader(),
				jsts_writer = new jsts.io.WKTWriter();
			
			for (var j = 0; j < components.length; j++)
			{
				var strip = new H.geo.LineString();
				var outline = components[j].shape;
				for (var i = 0; i < outline.length; i+=2) {
					var lat = parseFloat(outline[i]);
					var lon = parseFloat(outline[i+1]);
					strip.pushLatLngAlt(lat, lon, 0);
				}
				
				var shp = new H.map.Polygon(strip, {
					style: { lineWidth: 5, strokeColor: getRandomColor()}
				});
				group.addObject(shp);
				
				/*
				var niceShp = jsts_reader.read(shp.getGeometry().toString());
				niceShp = jsts_writer.write(niceShp.convexHull());
				var geom = parseWKT(niceShp);
				renderWKT(geom, niceShp, group, {fillColor: getRandomColor() });
				*/
							
				// takes to long for rendering
				/*
				var links = components[j].links;
				for(var i = 0; i < links.length; i++)
				{
					var shape = links[i].shape;
					var linkStrip = new H.geo.Strip();
					for(var j = 0; j < shape.length; j+=2){
						linkStrip.pushLatLngAlt.apply(linkStrip, [shape[j], shape[j + 1]].map(function(item) {return parseFloat(item);}));
					}
					var polyline = new H.map.Polyline(linkStrip, {
										style:
										{
											lineWidth: 2,
											strokeColor: "rgba(70, 105, 160, 0.8)",
											fillColor: "rgba(120, 133, 160, 0.9)"
										}
								});
					group.addObject(polyline);               
				}
				*/
            }
		}
		map.addObject(group);
	}

	function renderWKT(geom, wktString, container, options)
	{
		for (var j = 0; j < geom.coordinates.length; j++) {
			switch (geom.type) {
				case 'MultiPolygon':
				for (var k = 0; k < geom.coordinates[j].length; k++) {
					addPolygonToMap(geom.coordinates[j][k], wktString, container);
				}
				break;
			  case 'Polygon': 
				addPolygonToMap(geom.coordinates[j], wktString, container);
				break;
			  case 'MultiPoint':
				addPointToMap(geom.coordinates[j][0], wktString, map);
				break;
			  case 'MultiLineString':
				addLineToMap(geom.coordinates[j], wktString, map);
				break;
			  default:
				console.log('Cannot draw matching geometry!');
			}
		}
	}

	function addPolygonToMap(poly, wktString, container, options) {
		var polygonStrip = new H.geo.Strip();
		for (var k = 0; k < poly.length - 1; k++) {
			polygonStrip.pushPoint(new H.geo.Point(poly[k][1], poly[k][0]));
		}

		var polygon = new H.map.Polygon(polygonStrip, options);
		container.addObject(polygon);
	}

	function addPointToMap(point, wktString, container, options) 
	{
		var marker = new H.map.Marker(new H.geo.Point(point[1], point[0], options));
		container.addObject(marker);
	}

	function addLineToMap(line, wktString, container, options) 
	{
		var lineStrip = new H.geo.Strip();
		for (var k = 0; k < line.length; k++)
		{
			if (line[k] === 'artificial') 
				continue;// our extension to geojson
			lineStrip.pushPoint(new H.geo.Point(line[k][1], line[k][0]));
		}
		var polyline = new H.map.Polyline(lineStrip, options);
		container.addObject(polyline);
	}

	var updateTravelTimeValue = function (value)
	{
		var text = document.getElementById("text1");
		sliderPosition = 0;
		text.innerHTML = "travel time: " + value +" min";
	};
	
	var updateTimeOfDay = function ()
	{
		var i = day_selector.options[day_selector.selectedIndex].value;
		var weekday = parseInt(i) * 24 * 60 * 60;

		var t = (Math.ceil(time_slider.value / 240 * 96) / 4);
		var hour = Math.floor(t);
		var h = t.toFixed(2);
		var minutes = (h % 1) * 60;

		// add leading zero to minutes string
		if(hour < 10)
			hour = "0" + hour;

		// format minutes from 0 to 00
		if(minutes === 0)
			minutes = "00";

		time = hour + ":" + minutes + ":00";
		time_output.innerHTML = "Time of Day: " + hour + ":" + minutes;
	}
	
	function getRandomColor() {
		var letters = '0123456789ABCDEF'.split('');
		var color = '#';
		for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
		}
		return color;
	}
	
	var updateIsolines = function()
	{
		group.removeAll();
		lastGeometrie = null;
		for(var i = 0; i < pois.length; i++)
		{
			getIsoline(pois[i], i);
		}
	}
	
	for(var i = 0; i < pois.length; i++)
	{
		addMarker(pois[i]);
	}
	updateIsolines();
	
</script>
