<% content_for :title, "RME PDE Java Example" %>

<div>
	<div class="subheader">This example is provided by HERE to demonstrate features of RME with PDE.</div>
</div>

<div>
		<table class="sdk-examples-table">
		
			<tr>
				<td>
					<%= link_to(
						image_tag("examples/rme_pde_java_example_pre.png", :class => "thumb-longer"),
						image_url("examples/rme_pde_java_example.png"),
						:class => "fancybox",
						:title => "rme_pde_java_example",
						:rel => "group") %>
				</td>
				<td>RME PDE Java Example</td>
				<td>
					<%= link_to(
						"RME_PDE_Java_Exampl_JS31.zip",
						"/rme_pde_java_example/RME_PDE_Java_Exampl_JS31.zip",
						:target => '_blank') %>
				</td>
			</tr>
	</table>

</div>