<% content_for :title, "Testing HERE Services" %>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

<div class="ctrl-panel">
	<span id="toggle-ctrl-panel" class="glyphicon glyphicon-menu-left"></span>
	
	<div class="form-group">
		
	<p>Simple send a bunch of request to test your credentials</p>
	</div>	
	<div class="form-group">
		<table id ="credentials"  border="0">
			<tr>
				<td>App Id</td><td><input type="text" id="appIdExt" class="form-control" size = "50" value="APP_ID" 
					onblur="if (this.value == '') {this.value = 'APP_ID';}"
					onfocus="if (this.value == 'APP_ID') {this.value = '';}">
				</td>
			</tr>
			<tr>
				<td>App Code</td><td>	<input type="text" id="appCodeExt" class="form-control" size = "50" value="APP_CODE"
					onblur="if (this.value == '') {this.value = 'APP_CODE';}"
					onfocus="if (this.value == 'APP_CODE') {this.value = '';}">
				</td>
			</tr>
				<tr>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
	<div id="result" class="form-group">
	<table id="result_table" style="display:none" border="0">
		<tr>
			<th>Name</th>
			<th>Testing</th>
			<th>Production</th>
		</tr>
		<tr>
			<td>Geocoder</td>
			<td id="geocoder_cit"></td>
			<td id="geocoder_prd"></td>
		</tr>
		<tr>
			<td>Reverse Geocoder</td>
			<td id="rgc_cit"></td>
			<td id="rgc_prd"></td>
		</tr>
		<tr>
			<td>Places</td>
			<td id="places_cit"></td>
			<td id="places_prd"></td>
		</tr>
		<tr>
			<td>Routing</td>
			<td id="routing_cit"></td>
			<td id="routing_prd"></td>
		</tr>
		<tr>
			<td>Isoline Routing</td>
			<td id="iso_cit"></td>
			<td id="iso_prd"></td>
		</tr>
		<tr>
			<td>Matrix Routing</td>
			<td id="matrix_cit"></td>
			<td id="matrix_prd"></td>
		</tr>
		<tr>
			<td>PDE</td>
			<td id="pde_cit"></td>
			<td id="pde_prd"></td>
		</tr>
		<tr>
			<td>TCE</td>
			<td id="tce_cit"></td>
			<td id="tce_prd"></td>
		</tr>
		<tr>
			<td>WSE</td>
			<td id="wse_cit"></td>
			<td id="wse_prd"></td>
		</tr>
		<tr>
			<td>RME</td>
			<td id="rme_cit"></td>
			<td id="rme_prd"></td>
		</tr>
		<tr>
			<td>Transit</td>
			<td id="transit_cit"></td>
			<td id="transit_prd"></td>
		</tr>
		<tr>
			<td>SDK - Voice Catalog</td>
			<td id="catalog_cit"></td>
			<td id="catalog_prd"></td>
		</tr>
	</table>
	</div>
	<div class="form-group">
		<input type="button" class="btn btn-default btn-sm" value="check" onclick="init();" id="check">
	</div>
</div>

<div id="mapContainer"></div>

<script type="text/javascript">
	/*
		author domschuette
		(C) HERE 2016
	*/
	
	var hidpi,
		platform, 
		maptypes,
		map,
		mapevents,
		behavior,
		ui,
		app_id,
		app_code;
		
	var svg_ok = '<?xml version="1.0" encoding="UTF-8" ?>'
			   + '<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">'
			   + '<svg width="34pt" height="24pt" viewBox="0 0 44 34" version="1.1" xmlns="http://www.w3.org/2000/svg">'
			   + '<g id="#f9fdf9ff">'
			   + '</g>'
			   + '<g id="#337933ff">'
			   + '<path fill="#337933" opacity="1.00" d=" M 34.21 8.23 C 35.17 7.01 36.72 6.98 38.14 7.01 C 30.78 12.46 25.65 20.26 21.20 28.12 C 20.80 30.43 18.48 31.95 16.24 31.89 C 14.80 28.98 13.74 25.84 11.80 23.22 C 9.05 20.65 15.95 18.48 16.00 22.06 C 16.62 23.17 17.20 24.33 18.00 25.33 C 18.92 24.50 19.66 23.51 20.37 22.51 C 24.05 16.91 28.82 12.15 34.21 8.23 Z" />'
			   + '</g>'
			   + '<g id="#c0f3baff">'
			   + '</g>'
			   + '</svg>';
			   
	var svg_no = '<?xml version="1.0"?>'
			   + '<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34">'
			   + '<path stroke="#F00" stroke-width="2" stroke-linecap="round" d="m4,4 24,24m0-24-24,24"/>'
			   + '</svg>';

	init = function()
	{
		app_id = document.getElementById('appIdExt').value;
		app_code = document.getElementById('appCodeExt').value;

		// Check whether the environment should use hi-res maps
		hidpi = ('devicePixelRatio' in window && devicePixelRatio > 1);
		
		// check if the site was loaded via secure connection
		var secure = (location.protocol === 'https:') ? true : false;

		// Create a platform object to communicate with the HERE REST APIs
		platform = new H.service.Platform({
			app_id: app_id,
			app_code: app_code,
			useHTTPS: secure
		}),
		maptypes = platform.createDefaultLayers(hidpi ? 512 : 256, hidpi ? 320 : null);

		// Instantiate a map in the 'map' div, set the base map to normal
		map = new H.Map(document.getElementById('mapContainer'), maptypes.normal.map, {
			center: center,
			zoom: zoom,
			pixelRatio: hidpi ? 2 : 1
		});

		// Enable the map event system
		mapevents = new H.mapevents.MapEvents(map);

		// Enable map interaction (pan, zoom, pinch-to-zoom)
		behavior = new H.mapevents.Behavior(mapevents);

		// Enable the default UI
		ui = H.ui.UI.createDefault(map, maptypes);

		// setup the Streetlevel imagery
		platform.configure(H.map.render.panorama.RenderEngine);

		window.addEventListener('resize', function() { map.getViewPort().resize(); });

		
		test("geocoder_cit", "https://geocoder.cit.api.here.com/search/6.2/geocode.json?searchtext=DE+Sch%C3%B6nau+69250+In+den+Kreuzwiesen+23&verboseMode=0&responseattributes=none&locationattributes=mr&gen=9&jsoncallback=geocoder_cit");
		test("rgc_cit", "https://reverse.geocoder.cit.api.here.com/search/6.2/reversegeocode.json?mode=retrieveAddresses&prox=41.382464,-87.19387,100&additionaldata=IncludeShapeLevel,postalCode&maxresults=1&languages=de-DE&gen=4&jsoncallback=rgc_cit");
		test("places_cit" , "https://places.cit.api.here.com/places/v1/discover/search/?size=20&q=restaurants+koenigstein%20im%20taunus&at=50.1763276,8.4932587&Accept=application/json&callback=places_cit");
		test("routing_cit", "https://route.cit.api.here.com/routing/7.2/calculateroute.json?routeattributes=sh,wp,sm,bb,lg,no&maneuverattributes=po,ix,tt,le,rn,nr,ru,nu,sp,ac,bt,tm&jsonAttributes=41&verboseMode=5&metricSystem=metric&waypoint0=geo!48.8536048,2.3341656&waypoint1=geo!48.8537443,2.333715&waypoint2=geo!48.8459229,2.3736906&waypoint3=geo!48.8519252,2.3757589&language=fr-FR&mode=fastest;pedestrian;boatFerry:-3&departure=2013-03-26T10%3A27%3A30&&jsoncallback=routing_cit");
		test("iso_cit", "https://isoline.route.cit.api.here.com/routing/7.2/calculateisoline.json?verboseMode=0&mode=fastest;car;traffic:disabled;&start=52.5160713,13.3769798&rangetype=distance&range=4000&jsoncallback=iso_cit");
		test("matrix_cit", "https://matrix.route.cit.api.here.com/routing/7.2/calculatematrix.json?start0=52.57283,8.00189&destination0=53.77074,8.80017&destination1=51.53418,8.20485&destination2=52.3352,7.27392&mode=fastest;truck;traffic:disabled&summaryAttributes=all&jsoncallback=matrix_cit");
		test("pde_cit", "https://pde.cit.api.here.com/1/tile.json?&layer=LINK_ATTRIBUTE_FC5&level=13&tilex=8580&tiley=6378&callback=pde_cit");
		test("tce_cit", "https://tce.cit.api.here.com/2/tollcost.json?start_ts=&route=1149583406;1149583407;927349780;927349781;949339014;949339015;52363942;-852672452;-852672451;-1101562027;-52352119;-52352120;-1046107125;-1046107124;-970178361;-52432813;-52351224;-52351611;-707019636;-707019635;-707019638;-707019637;-981953411;-981953410;-960695892;-52351217;-576445283;-576445282;-52351597;-67197507;-960695895;-960695894;-567300997;-567300995;-576453349;-567290175;-707019628;-707019627;-567300998;-567300999;-52351068;-52351070;-78670403;-52351058;-708358384;-708358383;-567300982;-1129371396;-1129371395;-783436124;-52351060;-798709174;-798709175;-52351143;-1080258543;-1080258542;-921668250;-921668249;-783436119;-1080258541;-1080258540;-781935080;-52318216;-757354548;-757354547;-576423374;-52422195;-550088941;-550088940;-783428381;-783428380;-67197441;-52433631;-722328694;-722328693;-1035936529;-1035936528;-826399512;-67197466;-78672062;-722328696;-722328695;-783428375;-783428374;-783499596;-783499595;-786292240;-786292239;-67198647;-52308685;-67198649;-67198648;-723136490;-723136489;-757352453;-921495540;-921495539;-52311680;-576423334;-576423333;-550084685;-783382719;-783382718;-67197958;-78672599;-52424125;-78672597;-67197959;-723364449;-783382726;-1001965823;-1001965822;-52352454;-590220186;-923281261;-923281260;-590242572;-590218410;-590242575;-923281263;-923281262;-820335749;-820335748;-590242549;-923281265;-923281264;-550084710;-590220160;-52327447;-52327501;-590220167;-923281267;-923281266;723364460;-67198003;-67198005;-67198004;52327626;723364452;-923281258;923281259;792454283;921715880;-921715881;722319190;722319191;-723354751;-723354750;67198012;67198013;590242519;-783437595;783437596;783177558;576423432;992821862;567335674;923273337;923273338;783437600;783437599;78686022;52326685;590236434;590236435;567286714;52363773;52366340;590236436;961266735;961266736;723472645;923281706;923281707;1088716299;1088716300;67198363;67198364;772019114;923281704;923281705;792455954;792455955;52367133;723472627;723472628;723472629;772019110;772019111;567335681;576447084;576447085;576422350;772019122;772019123;52324184;67191402;67191403;67191400;67191401;52367045;923488447;923488448;914795535;914795536;52367054;576422352;576422353;550083137;61541000;550083134;737393553;737393554;737393551;737393552;67191407;921640569;921640570;61541538;737393557;737393558;921640571;921640572;914967638;914967639;723472649;750184662;750184663;921640575;921640576;567287605;52451183;67177765;914909419;914909420;567335463;773318912;914906776;914906777;914906778;914906779;774499402;723472622;723472623;723472624;773312884;773312885;723472635;773312882;921708555;921708556;921708557;52446359;921708558;921708559;61556020;723472641;1056411428;723474530;1056411426;723474535;723474536;567335469;61959883;567335472;921708560;921708561;52445884;567335475;921708562;921708563;550083176;67194688;723474543;723474544;1150042724;1150042725;724991056;576423095;576423094;67194682;1027141955;1027141956;52533649;864586429;1089979682;1089979683;52441318;792502355;792502356;921708553;921708554;1049491117;792502367;792502368;1150490961;723474515;576448792;1089980139;1089980140;1089980243;1089980244;723474521;1089980485;1089980528;1089980529;723474527;1089990240;1089990241;548480671;67232873;67232874;-52440644;-576448803;-772882327;-772882326;-67196003;52440632;919805810;919805811;52440677;919805812;919805813;723626006;1133812061;548471375;1141688294;1141688295;567336140;576448805;548490558;548491764;576421889;-576448816;-792889238;-792889242;-919805809;-919805808;-783400744;-567336112;-567336111;-550104529;-550104526;-550104525;-590239610;-792889234;-792889233;590239608;796189170;796189171;783400761;-783400760;-914829924;-1007498489;-1007498488;550083606;67236061;550068990;962373349;1089369101;1089369102;576423193;783446635;783446636;722418812;722418813;722418814;550048798;590239528;590239529;590239530;-576421897;-548519794;-590239532;-962063886;-962063885;-67232216;-548519900;-548519905;-548519899;-67232209;-783446644;-783446643;-576421921;-67238428;-52440517;-52651569;-52651568;-52440149;-67232200;-723631255;-723631257;-723631256;-567336146;-567336145;-67196286;-67232412;-67232411;919812917;919812918;52651564;52651565;-548424328;-919812922;-919812921;-783441510;-67196292;-67196291;-67192486;-567336147;567336148;-792866082;-792866081;-792866075;-567286099;-792866175;-792866174;-52643876;-550085022;-921526026;-921526025;-52439866;-52609381;-1091640525;-1091640524;-921526013;-550085020;-550085019;-67192478;-67192480;-1152314169;-1152314168;-723631251;-723631250;67192477;1103225245;1103225246;52607539;1103221893;1103221894;772965387;783437998;783437999;52609945;-567286052;-763528284;-773003921;-773003920;-763528271;-783438001;-783438000;-567286048;-567286049;-576421930;-78654671;-1037584224;-52616030;-722418821;-722418820;-576423168;-1149228660;-722418822;-1102887732;-1102887731;-783182937;-78651304;-550085070;-67192472;-576448479;-52534643;-783182922;-923421055;-923421054;-923420779;-923420778;-67178440;-914916319;-923421851;-923421850;-576439697;-67192466;-958222985;-958222984;-67192468;-52535951;-67192461;-576421729;-576422868;-576422867;-67192460;-717612849;-717612848;-67192455;-67192456;-783444905;-921562208;-921562207;-773256899;-567290961;-567290960;67212947;67212945;921541533;-921541532;-52614389;-67192450;-567286043;-567286044;-67214851;-52444670;-1091627559;-1091627558;-921562199;-67192444;-921541529;921541528;52651612;52651613;67192439;-921541531;-921541530;-67212111;-67212110;-67212109;-921541512;-1091648232;-1091648231;-52651623;-52651622;-1091648225;1091648226;921541514;-921541515;-67192432;-67192431;-1091648228;-1091648227;-921541517;-924328946;-924328945;-924328944;-921541519;-921541518;-67208082;-52448992;-67192420;-921541521;-921541520;-67192417;-1091547960;-1091547959;-921541522;-567286034;-567286042;-921541525;-921541524;-550085055;-914791045;-914791044;-723692760;-723692759;-921541527;-921541526;-550064674;-550064673;-958215905;-958215904;-52449333;-550085064;-567335606;-923406653;-923406652;-52448990;-67195216;-67233359;-923406655;-923406654;-67228050;-67228049;-67228048;-67195220;-923406673;-923406672;-67233372;-52448988;-923406635;-923406634;-52448884;67228198;-923406637;-923406636;-67195459;-67195458;-67195465;-923406639;-923406638;-67228393;67195463;723692755;923406640;923406641;67228326;67228327;52651675;923406662;923406663;914791040;914791041;567285816;1034033117;1034033118;923406664;923406665;52448979;67195479;67195480;923406666;923406667;-550085085;-550085088;-550085087;-52651670;576448236;67227954;919817825;919817826;-576448224;-52651668;-919817828;-919817827;-774149713;-78647519;-67193289;-576448296;-52448975;-723688854;-723688853;-576448205;-923406675;-923406674;-52448086;-67195525;-914790109;-914790108;-914790111;-914790110;-792773663;-792773662;-550085107;-567335614;-567335615;-67193296;-919817836;-919817835;-52453047;-919817838;-919817837;-783184513;-783184512;-67193304;-576448298;-576448297;-550085136;-78647254;-78647255;-67207571;-52605979;-567285819;-567285818;-1134657658;-1134657657;-783184518;-722355681;-783163339;-783163338;-550085154;-567285821;-567285820;-783163329;-799754887;-799754886;-52651733;-52651732;-919817846;-919817845;-799754880;-1090168893;-67193337;-773370751;-773370750;-548226244;-52453155;-1054576707;-923394258;-67234938;-550085178;-550085177;-67196612;-923394253;-1152302140;-1152302139;-931320521;-931320520;-773417507;-773418226;-931320517;-931320516;-773419405;-773419404;-923394255;-923394254;-67235306;-67235305;-67196656;-52651979;-52651978;-1091686353;-1091686352;-1091686355;-1091686354;-915471756;-915471755;-576422148;-1053560371;-1053523854;-1053523853;-67196660;-52481792;-67236823;-923394257;-1091683121;-1091683120;-567335480;-723688868;-915472602;-915472601;-67236801;-67236800;-567285876;-723688862;-723688861;-567285874;-567285873;-723688860;-723688859;-548392204;-773421972;-773421973;-773421974;-773421976;-773421975;-723688857;-923394215;-923394214;-52489307;-1000149153;-1000149150;-1000149149;-1091690684;-1091690683;-1091692751;-1091692753;-1091692752;-567335482;-567335481;-923394220;-923394219;-1091693019;-1091693018;-550087542;-52489483;-773423164;-773423163;-792638346;-1033736282;-1033736281;-548393506;-773423166;-773423165;-78647611;-78647610;-722344796;-783389287;-923394222;-923394221;-550091432;-550091431;-567287769;-990108031;-723682851;-783389297;-923394224;-1091594429;-1091594428;-772764425;-567285878;-923394226;-1091687337;-1091687336;-52652037;-52652036;-923394228;-1091689050;-1091689049;-958376792;-958376791;-923394230;-923394229;-67197100;-550087563;-923394232;-923394231;-67238810;-772772900;-923394234;-924285304;-924285303;-576448373;-576448371;-576448367;-67197132;-923394241;-923394243;-923394242;-548515853;-1091684361;-1091684360;-923410173;-923410172;-1034067560;-1034067559;-796184102;-796184089;-919790925;-919790924;-576422199;-576422198;-67194641;-67194640;-919790927;-919790926;-724030485;-1034069810;-1034069809;-723688875;-722640928;-722640927;-576423122;-783494027;-783494026;-550087576;-52484697;-723688872;723688871;52484918;783494020;919805795;-919805794;-724085817;-724085816;-67211406;-67194283;-550087531;-919805797;-919805796;-796188181;-52484610;-796188185;-919805799;-919805798;-67194278;-796188206;-796188205;-550087516;-796188175;-919805801;-919805800;567336959;-567336958;-567336946;-762865593;-1046003963;-724074169;1074704407;1046003964;52594832;52596747;52594831;52594830;52594829;724084290;958435043;1045212081;1045212082;724084292;52592875;590237295;590237296;52592873;550087448;958435041;958435042;590237344;959478147;959478148;915050728;915050729;78690720;-773272920;-773272919;-1045212084;-1045212083;-958435040;-958435039;-915461622;-958434429;-958434428;-773272922;-773272921;-915050735;-915050734;-915044045;-915044044;-567285977;-958434434;-958434433;-724084303;-724084302;-550087478;-915050733;-1045212088;-1045212087;-78690732;-1045212086;-1045212085;-773115459;-958337784;-958337783;-590237390;-958434432;-958434431;-1074729196;-962379586;-962379585;-962379411;-1045212090;-1045212089;-915044042;-550087474;-550087473;-576449566;-958434427;-958434426;-567340870;-78687225;-590237396;-773061243;-773061245;-872089233;-872089232;-915461625;-923303316;-923303315;-550087376;-550087372;-52592621;-919786132;-919786131;-67193437;-773060721;-1046856760;-1046856762;-1046856761;-567336842;-67193360;-921271320;-921271319;-915461633;-915461632;-773061109;-773061108;-724085813;-1033789771;-1033789770;-724085815;-724085814;-1150063955;-1150063954;-590237435;-54082194;-724155117;-724155116;-77212331;-875174990;-875174989;-54118903;-77206415;-77206416;-815890385;-815890384;-902187539;-902187538;-761986194;-761986193;-54119514;-54119511;-727552254;-727552253;-54100835;-54084300;-54118912;-875174986;-875174985;-54084459;-54118916;-54118915;-875174982;-875174981;-54115075;-54115077;-54115082;-875174979;-875174978;-54118931;-719278677;-719278676;-761982717;-761982716;-875174975;-875174974;54115896;54115897;-774034444;-774034443;-727552246;-815890381;-815890380;-877777296;-883997860;-883997859;-774034448;-774034447;-77206465;-77206467;-877777298;-877777297;-77206471;-719278675;-719278674;-54087685;-719278752;-719278751;719278670;877777299;877777300;719278673;77206547;54118993;877777301;902157927;902157928;54118996;77206644;77206645;774034433;774034434;54119003;77206643;77206640;-54119004;-902157922;-902157921;-774034435;-77207790;-77212374;-783568471;-783568470;-719156267;-719156266;-77212375;-77207494;-774034440;-774034439;-719156268;-77207547;-77207546;-54119021;-54119022;-774034432;-774034431;-77207795;-77207517;-77207516;-815890383;-815890382;-77206630;-54110400;-989942030;-989942029;-822380889;-822380888;-54103369;-719307754;-719307753;-902166069;-902166068;-77206623;-54117970;-54114241;-77206619;-77206618;-54117812;-54117822;-54117821;-77206612;-77206613;-77206611;-77206610;-54117838;-902166071;-902166070;-54117836;-822709157;-822709156;-761979248;-54117852;-54117851;-54117754;-54117755;-989942031;-989942033;-989942032;-77206606;-77206605;-54117759;-774034430;-774034429;783566310;783566311;77206596;77206595;54103578;906672692;906672693;-77206833;-54103538;-773938692;-773938691;-905682366;-905682365;-77206845;-77206844;-77206840;-54119076;-783566315;-877805561;-902157926;-902157925;-877805562;-815895148;-815895147;-77206649;-822708195;-822708194;-774053466;-877633953;-877633952;-77206661;-77206659;-877633965;-877633964;-815967650;-77206663;-77206667;-54096505;-877633947;-877633946;-774053458;-77206669;-77206671;-77206673;-724189085;-783568418;-783568417;-1053471073;-1053471072;-54119031;-54119030;-77206677;-77206680;-77206681;-54119033;-783568428;-783568427;-77206682;-877635294;-877635293;-762031106;-762031105;-77206689;-877633955;-877633954;-770384766;-770384765;-77206697;-762031110;-770384768;-719548329;-902154209;-902154208;-877633956;-772338330;-772338329;-914320884;-914320883;-65319796;-542330021;-914320886;-914320885;-812965599;-812965598;-70135890;-772338332;-1088939378;-1088939377;-914320887;-841512976;-819373060;-542330363;-61433093;-61433094;-58916765;-914320894;-914320893;-772338334;-772338333;-58976224;-58976246;-1090152495;-1141978637;-1141978636;-914320872;-914320871;-589435782;-589435781;-585169156;-61433102;-914320874;-914320873;-1088944661;-1088944660;-585165580;-772338328;-828816870;-828816869;-70135913;-841514839;-841514838;-914320876;-914320875;-61433122;-61433121;-61433126;-61433125;58976053;70135914;841514836;841514837;723031049;914320877;914320878;58917174;914320879;914320880;723031042;723031043;585165186;829335741;914320881;914320882;61433139;61433138;-585165203;-915042625;-915042624;-841514841;-841514840;-783623816;-783623815;-58917505;-61433214;-915042623;-915042622;-723031058;-723031057;-914320892;-914320891;-841514834;-70136107;-70136106;-930460570;-914320889;-945977481;-945977480;-723031060;-723031059;-836340170;-836340169;-723031061;-723031063;-723031062;-836340161;-1136641341;-1136641340;-841532351;-58917672;-542337655;-1142033197;-1142033196;-914320896;-914320895;-723031030;-836621361;-836621366;-836621365;-542345081;-542345080;-542345079;-782891112;-782891111;-61433317;-841539034;-841539033;-945990656;-945990655;-70135967;-61415640;-783690941;-783690940;-841539036;-841539035;-68047030;-61415631;-783690947;-783690946;-914328240;-914328239;-61415126;-914328242;-914328241;-585163880;-70136104;-772381358;-1136605464;-1136605463;-58559930;-70135979;-914854463;-914854465;-914854464;-1136631857;-1136631856;-61411129;-61411151;-914328244;-914328243;-783692101;-783692100;-914785300;-914785299;-61420128;-70139667;-70139666;-61420121;-61420120;-61411770;-915272837;-915272836;-61433538;-914762543;-914762542;-915042607;-915042606;-1115647152;-1115647155;-1115648071;-1115815482;-1115815481;61415650;61411781;773274919;773274920;61414901;914762544;914762545;61433468;61410541;61412057;61415040;-914762547;-914762546;-585163433;-58975692;-773274914;-773274913;-583412043;-583412154;-1090798897;-1090798896;-914762549;-914762548;-58973507;-65304969;-914762550;914762551;819142950;829305977;829305978;61433427;61433422;946637857;946637858;61414109;914762552;946567314;946567315;-773272244;-773272246;-773272245;-579074605;-917458988;-917458987;-917458986;-917458985;-58551542;-915559038;-915559037;-915559040;-915559039;773272242;70133260;819346474;58551545;-918518856;-918518855;-70133103;-819346475;-946572184;-946572183;-70133371;-68033028;-65337713;-70133374;-70133373;-70133443;-70133442;-913699091;-913699090;-589436497;-589436499;-65337671;-65337670;-65337669;-65337668;-65337667;-827039242;-827039241;-589436493;-711523830;-545656095;-818686795;-818686794;-65306275;-65287390;-913405924;-913405923;-70133387;-70133388;-818574054;-732218273;732218272;-70133395;-70133397;-913405928;-913405927;-827039240;-827039239;-947164816;-947164815;-65291565;-773262223;773262224;947164817;947164818;818605351;-773262220;-913405934;-913405933;70134465;-61442386;-704251909;61442381;913405915;913405916;773262215;-947188970;-947188969;-773262211;-827110355;-827110354;-773262212;-827110357;827110356;61442413;61442414;58692317;818434244;929582741;70134533;947171090;-773262226;-579075700;-579075699;-947168344;-819696196;-819696183;-819696182;-773262227;-1136507870;-1136507869;-58969633;-58969632;-913405904;-913405903;-718082870;-1136634497;-1136634496;-781860131;-781860130;-718082851;-718082850;-913405906;-913405905;-947168342;-947168341;-818661585;-947137697;947137696;913405910;-913405909;-818661589;-724091313;913405911;-913405912;-913405908;-913405907;-724091314;-70142309;-65286367;-65286289;65286290;65306144;65285813;913405917;913405918;-65302130;-819688955;819688954;-709171590;709171591;591216297;773234026;773234027;-724091309;947137700;-947137699;65286421;63530407;942293885;942293886;724185124;917614556;-917614557;-70135296;-70135295;-70135294;-724146954;-724146955;-724146957;-782656417;-58973529;-58973528;-917614543;-917614542;-1088561352;-1088561351;-1088561354;-1088561353;-782656406;-942293883;-942293882;917614544;917614545;848523562;848523563;61444209;917614546;917614547;773229260;1089216432;583425423;-70135402;-70135403;-63522804;-58732283;-58969593;-58969592;-917614549;-917614548;-782686402;-782686401;-63522823;-1089216431;-63522438;-1088543711;-579075751;-63564402;-945730803;-1089220034;-579075883;-589436714;-589436713;-63517697;-58969589;-58969588;-63537924;-63537923;-917614552;942590319;63537881;61444193;61444192;917630498;917630499;942260688;580452520;580452518;580452519;-63564269;-782687380;782687379;942590320;61444183;61444184;913095742;1089220043;70135789;579076028;579076027;783689999;783690000;61444156;61444157;827211221;913095744;913095745;783690006;580452361;580452362;546529708;546529709;583441706;827211219;945724387;70134716;70134707;63538517;70134710;913095750;913095751;782656438;63538774;61444266;70135829;827211217;827211218;917638660;917638661;61444271;61444272;58969583;63529628;63529629;913095748;913095749;580452392;580452393;63524388;782980721;913095746;913095747;70134589;858805436;858805437;846098190;847014472;847014473;847014457;1142525464;1142525465;917558921;846098185;846098186;846098180;991832372;-991832371;-846098173;-942427151;-942427150;-946208107;846098163;846098162;846098153;846098154;846098152;846098147;923716930;923716920;923716921;946208105;942404783;846104616;846104617;846098084;846098085;857134400;858928512;858928513;846104623;846104624;846098202;846104627;942624175;942624176;858930506;846104629;846104630;846098061;-847771949;-847771948;-942847202;-942847201;-711274804;-711274803;-61444358;-63518792;-913116513;-913116512;70133250;913116507;-913116506;-583434426;-945691214;-913116509;-913116508;-724205512;-724205515;-724205514;-580456800;-583436799;-583436798;-580456798;-724205521;-724205523;-1088568887;-1088568886;-773145286;-942565880;-583433622;-583433621;-580456553;-913116519;-913834595;-913834594;-913116517;-913116516;-724205519;-724205518;-724205517;-1088565648;-1088823910;-1088823909;-61444347;-583426549;-583426548;-58973521;-58973520;-917654132;-917654131;-63531049;-63530856;-63530857;-711274860;-711274859;-583426317;-583426316;-724123385;-724123384;-810127577;-914239049;-914239048;-70133210;-70133209;-746824614;-746824613;-746824607;-746824610;-1005355922;-1005355921;-70132963;-70132962;-897354663;-924792288;-924792287;-773078991;-723637379;-1001507748;-1001507750;-1001507749;-897354664;-70133100;-70133212;-913116511;-913116510;-773078997;-773078996;-773078995;-723637396;-58527839;-723637395;-723637394;-63531790;-591225762;-591225761;-591225760;-809669208;-773078999;-1005355924;-1005355923;-773068181;-773068180;-61441696;-63516127;-70132809;-914232400;-914232399;-63268960;-809612364;-809504740;-591225730;-591225732;-63267047;-914233794;-914233796;-914233795;-866609183;-866609182;-773068188;-914233798;-914233797;-866609190;-866609189;-773068185;-773068184;-63286489;-897712042;897712041;-773068183;-773068182;-63286486;-591225702;-580453417;-63285947;-914233800;-914233799;-82933089;-82933088;-82933090;-1005355933;-1005355932;-914234503;-914234502;-63285941;-82928176;-63285937;-63285938;-773061885;-1073860890;-591225719;-773061875;809481008;63284401;-723637411;-723637410;-723637409;-723637408;-70132560;-705022080;-705022079;-773061881;-773061880;-723637392;-918158791;-918158790;-773061883;-773061882;-724155922;-724155921;-68612737;-68553878;-918158793;-918158792;-68600431;-64892563;-64905933;-56396634;-56396635;-68612738;-68612740;-68612739;-918158795;-918158794;-956899289;-956899288;-68825244;-68825825;-68825826;-64906010;-64906027;-68825253;-68825254;-68825194;-68825193;-64889710;-918158789;-918158788;-59118764;-59118763;-68603960;-68603959;-719830682;-719830681;-918158783;-918158782;-68553918;-918158785;-918158784;-727441239;-727441238;-829178226;-829178225;-918158787;-956899287;-956899286;-64889697;-732355985;-771629965;-771629964;-724155920;-771629967;-771629966;-68581399;-68581398;-68578924;-719804192;-1085577073;-727442885;-710955480;-771629963;-771629962;-68825033;-733960561;-733960560;-64893158;-59118768;-64893151;-64893150;-924021777;-924021776;-68827134;-68827133;-68827136;-546642945;-918162468;-918162467;-546637736;-546641886;-1051517899;-1051517898;-1051517896;-64925092;-872134741;-781332937;-68553975;-1085104138;-1085104137;-829178228;-829178227;-783699216;-783699215;-71264418;-68609099;-68609106;-1075654976;-1075681956;-1075681955;-918162469;-71259360;-829178224;-918162472;-918162471;-64917529;-68553978;-68553977;-918162474;-918162473;-748946692;-748946691;-56395200;-924021775;-924021774;-68553982;-68825498;-68825499;-783688107;-918168315;-918168314;-732355982;-71268246;-783688121;-924021779;-924021778;-918168316;-918168319;-918168318;-727445780;-727445784;-727445783;-71256777;-71256774;-957307340;-1136367549;-1136367548;-719376097;-719376096;-918168321;-918168320;-56395198;-68844720;-68844719;-68838177;-64889897;-967645467;68838170;918170614;918170615;771629960;771629961;68824974;68824973;56301443;68827153;68827154;68824906;783569524;783569525;68554700;64889837;64889838;56295718;921077246;921077247;1142041561;1142041562;-68611089;-783569502;-783569501;-68841537;-921077249;-921077248;-64921821;-64921847;-727558283;-727558282;-921100489;-921100488;-68839472;-68554704;-56300535;-64889850;-64889849;-956957476;956957475;68611062;771958538;771958539;64889856;783856697;783856698;68844347;56466536;921105509;921105510;68834557;68834549;56191633;917621258;917621259;68845096;64912020;64917525;727582647;967646768;967646769;918038326;918038327;68554707;-68554706;-56194337;-915091118;-917621257;-917621256;-783687071;-783687070;-957332765;-957332764;-56223192;-56195161;-56195223;-68825570;-68825569;-64907873;68554708;727430708;1075654861;68611136;727430710;727430711;914230944;914230945;733963873;733963874;783702868;783702869;727430702;957332766;1075623504;1075623505;68554729;56194906;64907863;-68554730;-68554731;-64883953;-711430759;-783693924;-783693923;-1046547958;-1046547957;-68856961;-68856960;-727430699;-1085166191;-1085702990;-727430695;-56195285;-64913721;-68836521;-909514882;-68840994;-727593917;-727593916;-68554735;-68554734;-727430718;-727430717;-68554737;-68554736;-56197105;68825576;68612785;68615714;68615713;68554739;-783570601;-920562786;-920562785;56196871;64916292;68614092;-68614097;68614444;920562135;920562136;957340066;957340067;64917541;1105104551;1105104552;64917516;1105107247;1105107248;786935145;786935146;757011156;757011157;64909067;1062169869;1062169870;1082144432;1082144423;985359867;985359868;816558123;816558124;783701436;783701437;704081123;56287639;56287636;1125512897;1125512898;908097547;908097548;56287676;64910158;816288514;816288515;1123444431;1123444432;792435525;1123443994;1123443995;792435519;792435520;704082106;56286697;704101632;704101633;-704101627;-704101626;-744179526;-744179525;-737545710;-803020751;-803020750;704107167;704107168;56462205;56249583;803023689;803023690;780651461;1082181759;1082181760;821209838;68867257;68867258;821209835;821209836;1103281098;1103281099;821209850;816556085;783971910;908093367;908093368;733185425;957251715;957251716;-733185422;-56280922;733081124;733081125;957251709;957251710;957251701;733185394;733185395;786878123;786878124;1004338688;1004338689;957251689;957240420;957240421;732498389;732498384;732498377;732498378;68816578;735867810;708506455;1122455953;1122455954;732496097;732496098;56246858;56286437;802878168;802878169;56246667;56246621;802878155;802878156;56246478;1122459514;1122459515;1122461987;1122461988;786660210;957483652;957483657;957483658;722491407;722491408;56246102;722491412;722491413;722480138;56252356;56245900;56245824;56245723;1123207183;1123207184;1123207182;868059253;868059254;810781034;809274563;56245140&vspec=2;0;0;2;0;0;5;167;0;1739;1739;0;0;0;2;4;0;0&callback=tce_cit");
		test("wse_cit", "https://wse.cit.api.here.com/2/findsequence.json?mode=fastest;car;traffic:disabled;&start=DuisburgRuhrort%3B51.4541%2C6.7406&departure=2015-05-11T07:30:00%2b02:00&restTimes=disabled&end=DuisburgHafen%3B51.4576%2C6.7717&destination0=Gelsenkirchen%3B51.5053%2C7.1016&destination1=ZecheZollverein%3B51.486%2C7.0459&destination2=KokereiZollverein%3B51.4879%2C7.0337&destination3=MuehlheimRuhrHbf%3B51.432%2C6.886&destination4=BochumRathaus%3B51.4832%2C7.2186&destination5=DortmundHbf%3B51.5169%2C7.4605&destination6=Bochum%3B51.4732%2C7.1771&destination7=EssenGrugapark%3B51.4304%2C7.0011&destination8=Herne%3B51.537974%2C7.217826&destination9=Bottrop%3B51.519478%2C6.950919&improveFor=TIME&jsonCallback=wse_cit");
		test("rme_cit", "https://rme.cit.api.here.com/2/matchroute.json?routemode=car&file=UEsDBAoAAAAIAElWfkhbnlvj6gQAAGkiAAAPAAAAc2FtcGxlX3JvbWUuZ3B4rZlLj9s2EIDP3V8hOJcE2LU4fA4XXufSJpe0CJoUyK0QbForxJZUScm6%2BfUdeZENJ6iRwBjsYQWT%2FDSaGc6DXL08HvbF5zSMTdfeLWCpFkVqN922aeu7xV%2FvX93g4uX6alX3x3wWLApa1453i%2Ftp6m%2FL8uHhYTl1fVcP1a45LjfdoXz99kMJ5deZt8exYbMfzLIb6lIrBeWH39%2B829ynQ3XTtONUtZv0dVU9Jbaq7sdpqDYf07aZuuH0Hpo4nhaP5evUpqHaf3spiT31R06ohkPTfr%2Fy%2FQx92zXt9NtxSu38neXnHPMzkNf98Wn1WH42i2KqhjpNf1SHNPbVJv2UutI%2BHVI7veqGw69pV33aT3eLfz5V%2B2bXpC1JNDa3jy98022q6WSQH1KLH84o6RuXx3G7IGMf0lRtq6laX%2F2yakn29Vgd%2Bn36e%2BgOiSxwXJWnX2l0m8bN%2Bt1ptJhXFJtuv0%2BbKW2Lpi3%2BpPm3xXjfPZA3Fbumnb2qOFQ0NHTVdrwumrrtBpr8UP3bz8qffyJAXe2Lrk3zz%2BPzok3VUDyz7rp4hvDiuqirKRXkBbM%2FVvvnj8NB00hfjeP8iqLtbqb7oftU39%2FQxN2u2RRfZuDXyfHFqjzJfrUqv33taho%2BPn3zLPy3D6WRMdX0dHrsp2JfkVksLDFGj3FR7E8bQy8tRO3UYl2s0pMrrFdjn9J2DWpVPj6tymx0hpYn6v%2Fwo1IYVcbXyiknyQcgXs63UZZvguHyWxTl%2B2gZP3gjydfBYc4HF0Xtq21kfG1Bi%2FIN55OHBlH9B2T6t9GIyq8ihpzvrBX1TwWaye%2BVFuRjRAyR8SMI6h9j8JbxQ9Reku8xMP2jRkH%2Fx%2BiiZfEHgxPVvw0acn5UQTA%2BYDSofMY3iv5E%2BSrk%2B9dob0Ttq3l%2BMdZFEJUfdG5f442sfxrH4r8JZAJR%2FzFcfjRK1v8pwuX8aGX149Dn%2Fm%2BVt1Y0PliT53cLRon6j7eY7y9K8F40fjqEyPhooqj8yumcbxBE%2Fcf7mMdna30Q5Qdt8vhgHX2AqPwOmPzOBlG%2BjSw%2BWwey8dNDZP7jgpeND5bvX69k45vTPs8vFsHK2hc80390wv4JkMd%2F6o5AVP6AmMc3B9TRiNaHlunHzQ2YJD9azO3r6A2y9bNi8dNRPBXt7wjP5A%2FUMYnqJ%2Bhcfk8NgCwfbR7%2FKZ1J7t9ZPzbXj3eUYUT53H%2B8C060vwZQ%2Bf71XhtB%2Fc98yPOXp3ZetD8Fo%2FP44KNofU58dHl8CNQOCMaHqLR2eX0bIMrKTw0j4xuQPV8ys74zvtWy5w%2BUUZDxUYvq3zmf%2B2dwIFn%2FU%2FFjuf%2B4OR8L8qld11w%2FSlT%2F6Nj5xqz%2FM%2FndXMSPqAzjnz3%2FuYgPivcXgRrUM%2F3LZXwTYl4fBu3Onc9cxqf2i%2FknhHjG%2Fy%2FjewtMfvDn8tdl%2FPC9%2FBgl%2FRMQufxaS%2FZHxI%2FWcv8Rrd%2BAMnxg8SFI1uckv0cWH4I7t38v5GvOJ4tLxmcIBln%2BivN5iiDfk8dkfAQjen8EHtj5LWVjlKyvwCt2PoMGJetn4nt2P4XU4MnykeV3dFHyfGbms%2FsFDFa0PyL%2F9Hl%2Boegmmn8BjWH6p4Zb8v4IkCIC40cval9q3%2FP8TgWXsH5me2Z80KL9FwTH6mfig2x804Hz5%2FvUi%2Fmnp9NV%2Belp%2Flf3x%2FXVf1BLAQIUAAoAAAAIAElWfkhbnlvj6gQAAGkiAAAPAAAAAAAAAAAAAAAAAAAAAABzYW1wbGVfcm9tZS5ncHhQSwUGAAAAAAEAAQA9AAAAFwUAAAAA&callback=rme_cit");
		test("transit_cit", "https://transit.cit.api.here.com/v3/route.json?lang=en&graph=1&dep=50.11208,8.68342&arr=50.1409,8.57177&modes=high_speed_train,intercity_train,inter_regional_train,regional_train,city_train,bus,ferry,subway,light_rail,private_bus,inclined,aerial,bus_rapid,monorail,flight&time=" + encodeURIComponent(new Date().toISOString()) + "&callbackFunc=transit_cit");
		

		test("geocoder_prd", "https://geocoder.api.here.com/search/6.2/geocode.json?searchtext=DE+Sch%C3%B6nau+69250+In+den+Kreuzwiesen+23&verboseMode=0&responseattributes=none&locationattributes=mr&gen=9&jsoncallback=geocoder_prd");
		test("rgc_prd", "https://reverse.geocoder.api.here.com/search/6.2/reversegeocode.json?mode=retrieveAddresses&prox=41.382464,-87.19387,100&additionaldata=IncludeShapeLevel,postalCode&maxresults=1&languages=de-DE&gen=4&jsoncallback=rgc_prd");
		test("places_prd" , "https://places.api.here.com/places/v1/discover/search/?size=20&q=restaurants+koenigstein%20im%20taunus&at=50.1763276,8.4932587&Accept=application/json&callback=places_prd");
		test("routing_prd", "https://route.api.here.com/routing/7.2/calculateroute.json?routeattributes=sh,wp,sm,bb,lg,no&maneuverattributes=po,ix,tt,le,rn,nr,ru,nu,sp,ac,bt,tm&jsonAttributes=41&verboseMode=5&metricSystem=metric&waypoint0=geo!48.8536048,2.3341656&waypoint1=geo!48.8537443,2.333715&waypoint2=geo!48.8459229,2.3736906&waypoint3=geo!48.8519252,2.3757589&language=fr-FR&mode=fastest;pedestrian;boatFerry:-3&departure=2013-03-26T10%3A27%3A30&&jsoncallback=routing_prd");
		test("iso_prd", "https://isoline.route.api.here.com/routing/7.2/calculateisoline.json?verboseMode=0&mode=fastest;car;traffic:disabled;&start=52.5160713,13.3769798&rangetype=distance&range=4000&jsoncallback=iso_prd");
		test("matrix_prd", "https://matrix.route.api.here.com/routing/7.2/calculatematrix.json?start0=52.57283,8.00189&destination0=53.77074,8.80017&destination1=51.53418,8.20485&destination2=52.3352,7.27392&mode=fastest;truck;traffic:disabled&summaryAttributes=all&jsoncallback=matrix_prd");
		test("pde_prd", "https://pde.api.here.com/1/tile.json?&layer=LINK_ATTRIBUTE_FC5&level=13&tilex=8580&tiley=6378&callback=pde_prd");
		test("tce_prd", "https://tce.api.here.com/2/tollcost.json?start_ts=&route=1149583406;1149583407;927349780;927349781;949339014;949339015;52363942;-852672452;-852672451;-1101562027;-52352119;-52352120;-1046107125;-1046107124;-970178361;-52432813;-52351224;-52351611;-707019636;-707019635;-707019638;-707019637;-981953411;-981953410;-960695892;-52351217;-576445283;-576445282;-52351597;-67197507;-960695895;-960695894;-567300997;-567300995;-576453349;-567290175;-707019628;-707019627;-567300998;-567300999;-52351068;-52351070;-78670403;-52351058;-708358384;-708358383;-567300982;-1129371396;-1129371395;-783436124;-52351060;-798709174;-798709175;-52351143;-1080258543;-1080258542;-921668250;-921668249;-783436119;-1080258541;-1080258540;-781935080;-52318216;-757354548;-757354547;-576423374;-52422195;-550088941;-550088940;-783428381;-783428380;-67197441;-52433631;-722328694;-722328693;-1035936529;-1035936528;-826399512;-67197466;-78672062;-722328696;-722328695;-783428375;-783428374;-783499596;-783499595;-786292240;-786292239;-67198647;-52308685;-67198649;-67198648;-723136490;-723136489;-757352453;-921495540;-921495539;-52311680;-576423334;-576423333;-550084685;-783382719;-783382718;-67197958;-78672599;-52424125;-78672597;-67197959;-723364449;-783382726;-1001965823;-1001965822;-52352454;-590220186;-923281261;-923281260;-590242572;-590218410;-590242575;-923281263;-923281262;-820335749;-820335748;-590242549;-923281265;-923281264;-550084710;-590220160;-52327447;-52327501;-590220167;-923281267;-923281266;723364460;-67198003;-67198005;-67198004;52327626;723364452;-923281258;923281259;792454283;921715880;-921715881;722319190;722319191;-723354751;-723354750;67198012;67198013;590242519;-783437595;783437596;783177558;576423432;992821862;567335674;923273337;923273338;783437600;783437599;78686022;52326685;590236434;590236435;567286714;52363773;52366340;590236436;961266735;961266736;723472645;923281706;923281707;1088716299;1088716300;67198363;67198364;772019114;923281704;923281705;792455954;792455955;52367133;723472627;723472628;723472629;772019110;772019111;567335681;576447084;576447085;576422350;772019122;772019123;52324184;67191402;67191403;67191400;67191401;52367045;923488447;923488448;914795535;914795536;52367054;576422352;576422353;550083137;61541000;550083134;737393553;737393554;737393551;737393552;67191407;921640569;921640570;61541538;737393557;737393558;921640571;921640572;914967638;914967639;723472649;750184662;750184663;921640575;921640576;567287605;52451183;67177765;914909419;914909420;567335463;773318912;914906776;914906777;914906778;914906779;774499402;723472622;723472623;723472624;773312884;773312885;723472635;773312882;921708555;921708556;921708557;52446359;921708558;921708559;61556020;723472641;1056411428;723474530;1056411426;723474535;723474536;567335469;61959883;567335472;921708560;921708561;52445884;567335475;921708562;921708563;550083176;67194688;723474543;723474544;1150042724;1150042725;724991056;576423095;576423094;67194682;1027141955;1027141956;52533649;864586429;1089979682;1089979683;52441318;792502355;792502356;921708553;921708554;1049491117;792502367;792502368;1150490961;723474515;576448792;1089980139;1089980140;1089980243;1089980244;723474521;1089980485;1089980528;1089980529;723474527;1089990240;1089990241;548480671;67232873;67232874;-52440644;-576448803;-772882327;-772882326;-67196003;52440632;919805810;919805811;52440677;919805812;919805813;723626006;1133812061;548471375;1141688294;1141688295;567336140;576448805;548490558;548491764;576421889;-576448816;-792889238;-792889242;-919805809;-919805808;-783400744;-567336112;-567336111;-550104529;-550104526;-550104525;-590239610;-792889234;-792889233;590239608;796189170;796189171;783400761;-783400760;-914829924;-1007498489;-1007498488;550083606;67236061;550068990;962373349;1089369101;1089369102;576423193;783446635;783446636;722418812;722418813;722418814;550048798;590239528;590239529;590239530;-576421897;-548519794;-590239532;-962063886;-962063885;-67232216;-548519900;-548519905;-548519899;-67232209;-783446644;-783446643;-576421921;-67238428;-52440517;-52651569;-52651568;-52440149;-67232200;-723631255;-723631257;-723631256;-567336146;-567336145;-67196286;-67232412;-67232411;919812917;919812918;52651564;52651565;-548424328;-919812922;-919812921;-783441510;-67196292;-67196291;-67192486;-567336147;567336148;-792866082;-792866081;-792866075;-567286099;-792866175;-792866174;-52643876;-550085022;-921526026;-921526025;-52439866;-52609381;-1091640525;-1091640524;-921526013;-550085020;-550085019;-67192478;-67192480;-1152314169;-1152314168;-723631251;-723631250;67192477;1103225245;1103225246;52607539;1103221893;1103221894;772965387;783437998;783437999;52609945;-567286052;-763528284;-773003921;-773003920;-763528271;-783438001;-783438000;-567286048;-567286049;-576421930;-78654671;-1037584224;-52616030;-722418821;-722418820;-576423168;-1149228660;-722418822;-1102887732;-1102887731;-783182937;-78651304;-550085070;-67192472;-576448479;-52534643;-783182922;-923421055;-923421054;-923420779;-923420778;-67178440;-914916319;-923421851;-923421850;-576439697;-67192466;-958222985;-958222984;-67192468;-52535951;-67192461;-576421729;-576422868;-576422867;-67192460;-717612849;-717612848;-67192455;-67192456;-783444905;-921562208;-921562207;-773256899;-567290961;-567290960;67212947;67212945;921541533;-921541532;-52614389;-67192450;-567286043;-567286044;-67214851;-52444670;-1091627559;-1091627558;-921562199;-67192444;-921541529;921541528;52651612;52651613;67192439;-921541531;-921541530;-67212111;-67212110;-67212109;-921541512;-1091648232;-1091648231;-52651623;-52651622;-1091648225;1091648226;921541514;-921541515;-67192432;-67192431;-1091648228;-1091648227;-921541517;-924328946;-924328945;-924328944;-921541519;-921541518;-67208082;-52448992;-67192420;-921541521;-921541520;-67192417;-1091547960;-1091547959;-921541522;-567286034;-567286042;-921541525;-921541524;-550085055;-914791045;-914791044;-723692760;-723692759;-921541527;-921541526;-550064674;-550064673;-958215905;-958215904;-52449333;-550085064;-567335606;-923406653;-923406652;-52448990;-67195216;-67233359;-923406655;-923406654;-67228050;-67228049;-67228048;-67195220;-923406673;-923406672;-67233372;-52448988;-923406635;-923406634;-52448884;67228198;-923406637;-923406636;-67195459;-67195458;-67195465;-923406639;-923406638;-67228393;67195463;723692755;923406640;923406641;67228326;67228327;52651675;923406662;923406663;914791040;914791041;567285816;1034033117;1034033118;923406664;923406665;52448979;67195479;67195480;923406666;923406667;-550085085;-550085088;-550085087;-52651670;576448236;67227954;919817825;919817826;-576448224;-52651668;-919817828;-919817827;-774149713;-78647519;-67193289;-576448296;-52448975;-723688854;-723688853;-576448205;-923406675;-923406674;-52448086;-67195525;-914790109;-914790108;-914790111;-914790110;-792773663;-792773662;-550085107;-567335614;-567335615;-67193296;-919817836;-919817835;-52453047;-919817838;-919817837;-783184513;-783184512;-67193304;-576448298;-576448297;-550085136;-78647254;-78647255;-67207571;-52605979;-567285819;-567285818;-1134657658;-1134657657;-783184518;-722355681;-783163339;-783163338;-550085154;-567285821;-567285820;-783163329;-799754887;-799754886;-52651733;-52651732;-919817846;-919817845;-799754880;-1090168893;-67193337;-773370751;-773370750;-548226244;-52453155;-1054576707;-923394258;-67234938;-550085178;-550085177;-67196612;-923394253;-1152302140;-1152302139;-931320521;-931320520;-773417507;-773418226;-931320517;-931320516;-773419405;-773419404;-923394255;-923394254;-67235306;-67235305;-67196656;-52651979;-52651978;-1091686353;-1091686352;-1091686355;-1091686354;-915471756;-915471755;-576422148;-1053560371;-1053523854;-1053523853;-67196660;-52481792;-67236823;-923394257;-1091683121;-1091683120;-567335480;-723688868;-915472602;-915472601;-67236801;-67236800;-567285876;-723688862;-723688861;-567285874;-567285873;-723688860;-723688859;-548392204;-773421972;-773421973;-773421974;-773421976;-773421975;-723688857;-923394215;-923394214;-52489307;-1000149153;-1000149150;-1000149149;-1091690684;-1091690683;-1091692751;-1091692753;-1091692752;-567335482;-567335481;-923394220;-923394219;-1091693019;-1091693018;-550087542;-52489483;-773423164;-773423163;-792638346;-1033736282;-1033736281;-548393506;-773423166;-773423165;-78647611;-78647610;-722344796;-783389287;-923394222;-923394221;-550091432;-550091431;-567287769;-990108031;-723682851;-783389297;-923394224;-1091594429;-1091594428;-772764425;-567285878;-923394226;-1091687337;-1091687336;-52652037;-52652036;-923394228;-1091689050;-1091689049;-958376792;-958376791;-923394230;-923394229;-67197100;-550087563;-923394232;-923394231;-67238810;-772772900;-923394234;-924285304;-924285303;-576448373;-576448371;-576448367;-67197132;-923394241;-923394243;-923394242;-548515853;-1091684361;-1091684360;-923410173;-923410172;-1034067560;-1034067559;-796184102;-796184089;-919790925;-919790924;-576422199;-576422198;-67194641;-67194640;-919790927;-919790926;-724030485;-1034069810;-1034069809;-723688875;-722640928;-722640927;-576423122;-783494027;-783494026;-550087576;-52484697;-723688872;723688871;52484918;783494020;919805795;-919805794;-724085817;-724085816;-67211406;-67194283;-550087531;-919805797;-919805796;-796188181;-52484610;-796188185;-919805799;-919805798;-67194278;-796188206;-796188205;-550087516;-796188175;-919805801;-919805800;567336959;-567336958;-567336946;-762865593;-1046003963;-724074169;1074704407;1046003964;52594832;52596747;52594831;52594830;52594829;724084290;958435043;1045212081;1045212082;724084292;52592875;590237295;590237296;52592873;550087448;958435041;958435042;590237344;959478147;959478148;915050728;915050729;78690720;-773272920;-773272919;-1045212084;-1045212083;-958435040;-958435039;-915461622;-958434429;-958434428;-773272922;-773272921;-915050735;-915050734;-915044045;-915044044;-567285977;-958434434;-958434433;-724084303;-724084302;-550087478;-915050733;-1045212088;-1045212087;-78690732;-1045212086;-1045212085;-773115459;-958337784;-958337783;-590237390;-958434432;-958434431;-1074729196;-962379586;-962379585;-962379411;-1045212090;-1045212089;-915044042;-550087474;-550087473;-576449566;-958434427;-958434426;-567340870;-78687225;-590237396;-773061243;-773061245;-872089233;-872089232;-915461625;-923303316;-923303315;-550087376;-550087372;-52592621;-919786132;-919786131;-67193437;-773060721;-1046856760;-1046856762;-1046856761;-567336842;-67193360;-921271320;-921271319;-915461633;-915461632;-773061109;-773061108;-724085813;-1033789771;-1033789770;-724085815;-724085814;-1150063955;-1150063954;-590237435;-54082194;-724155117;-724155116;-77212331;-875174990;-875174989;-54118903;-77206415;-77206416;-815890385;-815890384;-902187539;-902187538;-761986194;-761986193;-54119514;-54119511;-727552254;-727552253;-54100835;-54084300;-54118912;-875174986;-875174985;-54084459;-54118916;-54118915;-875174982;-875174981;-54115075;-54115077;-54115082;-875174979;-875174978;-54118931;-719278677;-719278676;-761982717;-761982716;-875174975;-875174974;54115896;54115897;-774034444;-774034443;-727552246;-815890381;-815890380;-877777296;-883997860;-883997859;-774034448;-774034447;-77206465;-77206467;-877777298;-877777297;-77206471;-719278675;-719278674;-54087685;-719278752;-719278751;719278670;877777299;877777300;719278673;77206547;54118993;877777301;902157927;902157928;54118996;77206644;77206645;774034433;774034434;54119003;77206643;77206640;-54119004;-902157922;-902157921;-774034435;-77207790;-77212374;-783568471;-783568470;-719156267;-719156266;-77212375;-77207494;-774034440;-774034439;-719156268;-77207547;-77207546;-54119021;-54119022;-774034432;-774034431;-77207795;-77207517;-77207516;-815890383;-815890382;-77206630;-54110400;-989942030;-989942029;-822380889;-822380888;-54103369;-719307754;-719307753;-902166069;-902166068;-77206623;-54117970;-54114241;-77206619;-77206618;-54117812;-54117822;-54117821;-77206612;-77206613;-77206611;-77206610;-54117838;-902166071;-902166070;-54117836;-822709157;-822709156;-761979248;-54117852;-54117851;-54117754;-54117755;-989942031;-989942033;-989942032;-77206606;-77206605;-54117759;-774034430;-774034429;783566310;783566311;77206596;77206595;54103578;906672692;906672693;-77206833;-54103538;-773938692;-773938691;-905682366;-905682365;-77206845;-77206844;-77206840;-54119076;-783566315;-877805561;-902157926;-902157925;-877805562;-815895148;-815895147;-77206649;-822708195;-822708194;-774053466;-877633953;-877633952;-77206661;-77206659;-877633965;-877633964;-815967650;-77206663;-77206667;-54096505;-877633947;-877633946;-774053458;-77206669;-77206671;-77206673;-724189085;-783568418;-783568417;-1053471073;-1053471072;-54119031;-54119030;-77206677;-77206680;-77206681;-54119033;-783568428;-783568427;-77206682;-877635294;-877635293;-762031106;-762031105;-77206689;-877633955;-877633954;-770384766;-770384765;-77206697;-762031110;-770384768;-719548329;-902154209;-902154208;-877633956;-772338330;-772338329;-914320884;-914320883;-65319796;-542330021;-914320886;-914320885;-812965599;-812965598;-70135890;-772338332;-1088939378;-1088939377;-914320887;-841512976;-819373060;-542330363;-61433093;-61433094;-58916765;-914320894;-914320893;-772338334;-772338333;-58976224;-58976246;-1090152495;-1141978637;-1141978636;-914320872;-914320871;-589435782;-589435781;-585169156;-61433102;-914320874;-914320873;-1088944661;-1088944660;-585165580;-772338328;-828816870;-828816869;-70135913;-841514839;-841514838;-914320876;-914320875;-61433122;-61433121;-61433126;-61433125;58976053;70135914;841514836;841514837;723031049;914320877;914320878;58917174;914320879;914320880;723031042;723031043;585165186;829335741;914320881;914320882;61433139;61433138;-585165203;-915042625;-915042624;-841514841;-841514840;-783623816;-783623815;-58917505;-61433214;-915042623;-915042622;-723031058;-723031057;-914320892;-914320891;-841514834;-70136107;-70136106;-930460570;-914320889;-945977481;-945977480;-723031060;-723031059;-836340170;-836340169;-723031061;-723031063;-723031062;-836340161;-1136641341;-1136641340;-841532351;-58917672;-542337655;-1142033197;-1142033196;-914320896;-914320895;-723031030;-836621361;-836621366;-836621365;-542345081;-542345080;-542345079;-782891112;-782891111;-61433317;-841539034;-841539033;-945990656;-945990655;-70135967;-61415640;-783690941;-783690940;-841539036;-841539035;-68047030;-61415631;-783690947;-783690946;-914328240;-914328239;-61415126;-914328242;-914328241;-585163880;-70136104;-772381358;-1136605464;-1136605463;-58559930;-70135979;-914854463;-914854465;-914854464;-1136631857;-1136631856;-61411129;-61411151;-914328244;-914328243;-783692101;-783692100;-914785300;-914785299;-61420128;-70139667;-70139666;-61420121;-61420120;-61411770;-915272837;-915272836;-61433538;-914762543;-914762542;-915042607;-915042606;-1115647152;-1115647155;-1115648071;-1115815482;-1115815481;61415650;61411781;773274919;773274920;61414901;914762544;914762545;61433468;61410541;61412057;61415040;-914762547;-914762546;-585163433;-58975692;-773274914;-773274913;-583412043;-583412154;-1090798897;-1090798896;-914762549;-914762548;-58973507;-65304969;-914762550;914762551;819142950;829305977;829305978;61433427;61433422;946637857;946637858;61414109;914762552;946567314;946567315;-773272244;-773272246;-773272245;-579074605;-917458988;-917458987;-917458986;-917458985;-58551542;-915559038;-915559037;-915559040;-915559039;773272242;70133260;819346474;58551545;-918518856;-918518855;-70133103;-819346475;-946572184;-946572183;-70133371;-68033028;-65337713;-70133374;-70133373;-70133443;-70133442;-913699091;-913699090;-589436497;-589436499;-65337671;-65337670;-65337669;-65337668;-65337667;-827039242;-827039241;-589436493;-711523830;-545656095;-818686795;-818686794;-65306275;-65287390;-913405924;-913405923;-70133387;-70133388;-818574054;-732218273;732218272;-70133395;-70133397;-913405928;-913405927;-827039240;-827039239;-947164816;-947164815;-65291565;-773262223;773262224;947164817;947164818;818605351;-773262220;-913405934;-913405933;70134465;-61442386;-704251909;61442381;913405915;913405916;773262215;-947188970;-947188969;-773262211;-827110355;-827110354;-773262212;-827110357;827110356;61442413;61442414;58692317;818434244;929582741;70134533;947171090;-773262226;-579075700;-579075699;-947168344;-819696196;-819696183;-819696182;-773262227;-1136507870;-1136507869;-58969633;-58969632;-913405904;-913405903;-718082870;-1136634497;-1136634496;-781860131;-781860130;-718082851;-718082850;-913405906;-913405905;-947168342;-947168341;-818661585;-947137697;947137696;913405910;-913405909;-818661589;-724091313;913405911;-913405912;-913405908;-913405907;-724091314;-70142309;-65286367;-65286289;65286290;65306144;65285813;913405917;913405918;-65302130;-819688955;819688954;-709171590;709171591;591216297;773234026;773234027;-724091309;947137700;-947137699;65286421;63530407;942293885;942293886;724185124;917614556;-917614557;-70135296;-70135295;-70135294;-724146954;-724146955;-724146957;-782656417;-58973529;-58973528;-917614543;-917614542;-1088561352;-1088561351;-1088561354;-1088561353;-782656406;-942293883;-942293882;917614544;917614545;848523562;848523563;61444209;917614546;917614547;773229260;1089216432;583425423;-70135402;-70135403;-63522804;-58732283;-58969593;-58969592;-917614549;-917614548;-782686402;-782686401;-63522823;-1089216431;-63522438;-1088543711;-579075751;-63564402;-945730803;-1089220034;-579075883;-589436714;-589436713;-63517697;-58969589;-58969588;-63537924;-63537923;-917614552;942590319;63537881;61444193;61444192;917630498;917630499;942260688;580452520;580452518;580452519;-63564269;-782687380;782687379;942590320;61444183;61444184;913095742;1089220043;70135789;579076028;579076027;783689999;783690000;61444156;61444157;827211221;913095744;913095745;783690006;580452361;580452362;546529708;546529709;583441706;827211219;945724387;70134716;70134707;63538517;70134710;913095750;913095751;782656438;63538774;61444266;70135829;827211217;827211218;917638660;917638661;61444271;61444272;58969583;63529628;63529629;913095748;913095749;580452392;580452393;63524388;782980721;913095746;913095747;70134589;858805436;858805437;846098190;847014472;847014473;847014457;1142525464;1142525465;917558921;846098185;846098186;846098180;991832372;-991832371;-846098173;-942427151;-942427150;-946208107;846098163;846098162;846098153;846098154;846098152;846098147;923716930;923716920;923716921;946208105;942404783;846104616;846104617;846098084;846098085;857134400;858928512;858928513;846104623;846104624;846098202;846104627;942624175;942624176;858930506;846104629;846104630;846098061;-847771949;-847771948;-942847202;-942847201;-711274804;-711274803;-61444358;-63518792;-913116513;-913116512;70133250;913116507;-913116506;-583434426;-945691214;-913116509;-913116508;-724205512;-724205515;-724205514;-580456800;-583436799;-583436798;-580456798;-724205521;-724205523;-1088568887;-1088568886;-773145286;-942565880;-583433622;-583433621;-580456553;-913116519;-913834595;-913834594;-913116517;-913116516;-724205519;-724205518;-724205517;-1088565648;-1088823910;-1088823909;-61444347;-583426549;-583426548;-58973521;-58973520;-917654132;-917654131;-63531049;-63530856;-63530857;-711274860;-711274859;-583426317;-583426316;-724123385;-724123384;-810127577;-914239049;-914239048;-70133210;-70133209;-746824614;-746824613;-746824607;-746824610;-1005355922;-1005355921;-70132963;-70132962;-897354663;-924792288;-924792287;-773078991;-723637379;-1001507748;-1001507750;-1001507749;-897354664;-70133100;-70133212;-913116511;-913116510;-773078997;-773078996;-773078995;-723637396;-58527839;-723637395;-723637394;-63531790;-591225762;-591225761;-591225760;-809669208;-773078999;-1005355924;-1005355923;-773068181;-773068180;-61441696;-63516127;-70132809;-914232400;-914232399;-63268960;-809612364;-809504740;-591225730;-591225732;-63267047;-914233794;-914233796;-914233795;-866609183;-866609182;-773068188;-914233798;-914233797;-866609190;-866609189;-773068185;-773068184;-63286489;-897712042;897712041;-773068183;-773068182;-63286486;-591225702;-580453417;-63285947;-914233800;-914233799;-82933089;-82933088;-82933090;-1005355933;-1005355932;-914234503;-914234502;-63285941;-82928176;-63285937;-63285938;-773061885;-1073860890;-591225719;-773061875;809481008;63284401;-723637411;-723637410;-723637409;-723637408;-70132560;-705022080;-705022079;-773061881;-773061880;-723637392;-918158791;-918158790;-773061883;-773061882;-724155922;-724155921;-68612737;-68553878;-918158793;-918158792;-68600431;-64892563;-64905933;-56396634;-56396635;-68612738;-68612740;-68612739;-918158795;-918158794;-956899289;-956899288;-68825244;-68825825;-68825826;-64906010;-64906027;-68825253;-68825254;-68825194;-68825193;-64889710;-918158789;-918158788;-59118764;-59118763;-68603960;-68603959;-719830682;-719830681;-918158783;-918158782;-68553918;-918158785;-918158784;-727441239;-727441238;-829178226;-829178225;-918158787;-956899287;-956899286;-64889697;-732355985;-771629965;-771629964;-724155920;-771629967;-771629966;-68581399;-68581398;-68578924;-719804192;-1085577073;-727442885;-710955480;-771629963;-771629962;-68825033;-733960561;-733960560;-64893158;-59118768;-64893151;-64893150;-924021777;-924021776;-68827134;-68827133;-68827136;-546642945;-918162468;-918162467;-546637736;-546641886;-1051517899;-1051517898;-1051517896;-64925092;-872134741;-781332937;-68553975;-1085104138;-1085104137;-829178228;-829178227;-783699216;-783699215;-71264418;-68609099;-68609106;-1075654976;-1075681956;-1075681955;-918162469;-71259360;-829178224;-918162472;-918162471;-64917529;-68553978;-68553977;-918162474;-918162473;-748946692;-748946691;-56395200;-924021775;-924021774;-68553982;-68825498;-68825499;-783688107;-918168315;-918168314;-732355982;-71268246;-783688121;-924021779;-924021778;-918168316;-918168319;-918168318;-727445780;-727445784;-727445783;-71256777;-71256774;-957307340;-1136367549;-1136367548;-719376097;-719376096;-918168321;-918168320;-56395198;-68844720;-68844719;-68838177;-64889897;-967645467;68838170;918170614;918170615;771629960;771629961;68824974;68824973;56301443;68827153;68827154;68824906;783569524;783569525;68554700;64889837;64889838;56295718;921077246;921077247;1142041561;1142041562;-68611089;-783569502;-783569501;-68841537;-921077249;-921077248;-64921821;-64921847;-727558283;-727558282;-921100489;-921100488;-68839472;-68554704;-56300535;-64889850;-64889849;-956957476;956957475;68611062;771958538;771958539;64889856;783856697;783856698;68844347;56466536;921105509;921105510;68834557;68834549;56191633;917621258;917621259;68845096;64912020;64917525;727582647;967646768;967646769;918038326;918038327;68554707;-68554706;-56194337;-915091118;-917621257;-917621256;-783687071;-783687070;-957332765;-957332764;-56223192;-56195161;-56195223;-68825570;-68825569;-64907873;68554708;727430708;1075654861;68611136;727430710;727430711;914230944;914230945;733963873;733963874;783702868;783702869;727430702;957332766;1075623504;1075623505;68554729;56194906;64907863;-68554730;-68554731;-64883953;-711430759;-783693924;-783693923;-1046547958;-1046547957;-68856961;-68856960;-727430699;-1085166191;-1085702990;-727430695;-56195285;-64913721;-68836521;-909514882;-68840994;-727593917;-727593916;-68554735;-68554734;-727430718;-727430717;-68554737;-68554736;-56197105;68825576;68612785;68615714;68615713;68554739;-783570601;-920562786;-920562785;56196871;64916292;68614092;-68614097;68614444;920562135;920562136;957340066;957340067;64917541;1105104551;1105104552;64917516;1105107247;1105107248;786935145;786935146;757011156;757011157;64909067;1062169869;1062169870;1082144432;1082144423;985359867;985359868;816558123;816558124;783701436;783701437;704081123;56287639;56287636;1125512897;1125512898;908097547;908097548;56287676;64910158;816288514;816288515;1123444431;1123444432;792435525;1123443994;1123443995;792435519;792435520;704082106;56286697;704101632;704101633;-704101627;-704101626;-744179526;-744179525;-737545710;-803020751;-803020750;704107167;704107168;56462205;56249583;803023689;803023690;780651461;1082181759;1082181760;821209838;68867257;68867258;821209835;821209836;1103281098;1103281099;821209850;816556085;783971910;908093367;908093368;733185425;957251715;957251716;-733185422;-56280922;733081124;733081125;957251709;957251710;957251701;733185394;733185395;786878123;786878124;1004338688;1004338689;957251689;957240420;957240421;732498389;732498384;732498377;732498378;68816578;735867810;708506455;1122455953;1122455954;732496097;732496098;56246858;56286437;802878168;802878169;56246667;56246621;802878155;802878156;56246478;1122459514;1122459515;1122461987;1122461988;786660210;957483652;957483657;957483658;722491407;722491408;56246102;722491412;722491413;722480138;56252356;56245900;56245824;56245723;1123207183;1123207184;1123207182;868059253;868059254;810781034;809274563;56245140&vspec=2;0;0;2;0;0;5;167;0;1739;1739;0;0;0;2;4;0;0&callback=tce_prd");
		test("wse_prd", "https://wse.api.here.com/2/findsequence.json?mode=fastest;car;traffic:disabled;&start=DuisburgRuhrort%3B51.4541%2C6.7406&departure=2015-05-11T07:30:00%2b02:00&restTimes=disabled&end=DuisburgHafen%3B51.4576%2C6.7717&destination0=Gelsenkirchen%3B51.5053%2C7.1016&destination1=ZecheZollverein%3B51.486%2C7.0459&destination2=KokereiZollverein%3B51.4879%2C7.0337&destination3=MuehlheimRuhrHbf%3B51.432%2C6.886&destination4=BochumRathaus%3B51.4832%2C7.2186&destination5=DortmundHbf%3B51.5169%2C7.4605&destination6=Bochum%3B51.4732%2C7.1771&destination7=EssenGrugapark%3B51.4304%2C7.0011&destination8=Herne%3B51.537974%2C7.217826&destination9=Bottrop%3B51.519478%2C6.950919&improveFor=TIME&jsonCallback=wse_prd");
		test("rme_prd", "https://rme.api.here.com/2/matchroute.json?routemode=car&file=UEsDBAoAAAAIAElWfkhbnlvj6gQAAGkiAAAPAAAAc2FtcGxlX3JvbWUuZ3B4rZlLj9s2EIDP3V8hOJcE2LU4fA4XXufSJpe0CJoUyK0QbForxJZUScm6%2BfUdeZENJ6iRwBjsYQWT%2FDSaGc6DXL08HvbF5zSMTdfeLWCpFkVqN922aeu7xV%2FvX93g4uX6alX3x3wWLApa1453i%2Ftp6m%2FL8uHhYTl1fVcP1a45LjfdoXz99kMJ5deZt8exYbMfzLIb6lIrBeWH39%2B829ynQ3XTtONUtZv0dVU9Jbaq7sdpqDYf07aZuuH0Hpo4nhaP5evUpqHaf3spiT31R06ohkPTfr%2Fy%2FQx92zXt9NtxSu38neXnHPMzkNf98Wn1WH42i2KqhjpNf1SHNPbVJv2UutI%2BHVI7veqGw69pV33aT3eLfz5V%2B2bXpC1JNDa3jy98022q6WSQH1KLH84o6RuXx3G7IGMf0lRtq6laX%2F2yakn29Vgd%2Bn36e%2BgOiSxwXJWnX2l0m8bN%2Bt1ptJhXFJtuv0%2BbKW2Lpi3%2BpPm3xXjfPZA3Fbumnb2qOFQ0NHTVdrwumrrtBpr8UP3bz8qffyJAXe2Lrk3zz%2BPzok3VUDyz7rp4hvDiuqirKRXkBbM%2FVvvnj8NB00hfjeP8iqLtbqb7oftU39%2FQxN2u2RRfZuDXyfHFqjzJfrUqv33taho%2BPn3zLPy3D6WRMdX0dHrsp2JfkVksLDFGj3FR7E8bQy8tRO3UYl2s0pMrrFdjn9J2DWpVPj6tymx0hpYn6v%2Fwo1IYVcbXyiknyQcgXs63UZZvguHyWxTl%2B2gZP3gjydfBYc4HF0Xtq21kfG1Bi%2FIN55OHBlH9B2T6t9GIyq8ihpzvrBX1TwWaye%2BVFuRjRAyR8SMI6h9j8JbxQ9Reku8xMP2jRkH%2Fx%2BiiZfEHgxPVvw0acn5UQTA%2BYDSofMY3iv5E%2BSrk%2B9dob0Ttq3l%2BMdZFEJUfdG5f442sfxrH4r8JZAJR%2FzFcfjRK1v8pwuX8aGX149Dn%2Fm%2BVt1Y0PliT53cLRon6j7eY7y9K8F40fjqEyPhooqj8yumcbxBE%2Fcf7mMdna30Q5Qdt8vhgHX2AqPwOmPzOBlG%2BjSw%2BWwey8dNDZP7jgpeND5bvX69k45vTPs8vFsHK2hc80390wv4JkMd%2F6o5AVP6AmMc3B9TRiNaHlunHzQ2YJD9azO3r6A2y9bNi8dNRPBXt7wjP5A%2FUMYnqJ%2Bhcfk8NgCwfbR7%2FKZ1J7t9ZPzbXj3eUYUT53H%2B8C060vwZQ%2Bf71XhtB%2Fc98yPOXp3ZetD8Fo%2FP44KNofU58dHl8CNQOCMaHqLR2eX0bIMrKTw0j4xuQPV8ys74zvtWy5w%2BUUZDxUYvq3zmf%2B2dwIFn%2FU%2FFjuf%2B4OR8L8qld11w%2FSlT%2F6Nj5xqz%2FM%2FndXMSPqAzjnz3%2FuYgPivcXgRrUM%2F3LZXwTYl4fBu3Onc9cxqf2i%2FknhHjG%2Fy%2FjewtMfvDn8tdl%2FPC9%2FBgl%2FRMQufxaS%2FZHxI%2FWcv8Rrd%2BAMnxg8SFI1uckv0cWH4I7t38v5GvOJ4tLxmcIBln%2BivN5iiDfk8dkfAQjen8EHtj5LWVjlKyvwCt2PoMGJetn4nt2P4XU4MnykeV3dFHyfGbms%2FsFDFa0PyL%2F9Hl%2Boegmmn8BjWH6p4Zb8v4IkCIC40cval9q3%2FP8TgWXsH5me2Z80KL9FwTH6mfig2x804Hz5%2FvUi%2Fmnp9NV%2Belp%2Flf3x%2FXVf1BLAQIUAAoAAAAIAElWfkhbnlvj6gQAAGkiAAAPAAAAAAAAAAAAAAAAAAAAAABzYW1wbGVfcm9tZS5ncHhQSwUGAAAAAAEAAQA9AAAAFwUAAAAA&callback=rme_prd");
		test("transit_prd", "https://transit.api.here.com/v3/route.json?lang=en&graph=1&dep=50.11208,8.68342&arr=50.1409,8.57177&modes=high_speed_train,intercity_train,inter_regional_train,regional_train,city_train,bus,ferry,subway,light_rail,private_bus,inclined,aerial,bus_rapid,monorail,flight&time=" + encodeURIComponent(new Date().toISOString()) + "&callbackFunc=transit_prd");
		test("catalog_prd", "https://navigation-voice.data.here.com/catalog/?client_version=15.02.00&jsoncallback=catalog_prd");

		//! TODO
		// test("cle", ""); 
		// test("fce", "");
	}
	
	function updateTable(obj, resp)
	{
		document.getElementById("result_table").style.display = "block";
		document.getElementById("check").disabled = true;
		document.getElementById('appIdExt').disabled = true;
		document.getElementById('appCodeExt').disabled = true;
		
		var ok = true; 
		if(resp && resp.type && (resp.type.indexOf("Error") != -1 || resp.type.indexOf("error") != -1 ))
			ok = false;
		if(resp && resp.response && resp.response.type && (resp.response.type.indexOf("SystemError") != -1 || resp.response.type.indexOf("PermissionError") != -1))
			ok = false;
		if(resp && resp.error)
			ok = false;
		if(resp && resp.errors && resp.errors.length != 0)
			ok = false;
		
		obj.innerHTML = ok ? svg_ok : svg_no;
	}
	
	

	function geocoder_cit(resp)
	{
		var obj = document.getElementById("geocoder_cit");
		updateTable(obj, resp);
	}

	function geocoder_prd(resp)
	{
		var obj = document.getElementById("geocoder_prd");
		updateTable(obj, resp);
	}

	function rgc_cit(resp)
	{
		var obj = document.getElementById("rgc_cit");
		updateTable(obj, resp);
	}
	
	function rgc_prd(resp)
	{
		var obj = document.getElementById("rgc_prd");
		updateTable(obj, resp);
	}
	
	function places_cit(resp)
	{
		var obj = document.getElementById("places_cit");
		updateTable(obj, resp);
	}
	
	function places_prd(resp)
	{
		var obj = document.getElementById("places_prd");
		updateTable(obj, resp);
	}
	
	function routing_cit(resp)
	{
		var obj = document.getElementById("routing_cit");
		updateTable(obj, resp);
	}
	
	function routing_prd(resp)
	{
		var obj = document.getElementById("routing_prd");
		updateTable(obj, resp);
	}

	function iso_cit(resp)
	{
		var obj = document.getElementById("iso_cit");
		updateTable(obj, resp);
	}
	
	function iso_prd(resp)
	{
		var obj = document.getElementById("iso_prd");
		updateTable(obj, resp);
	}

	function matrix_cit(resp)
	{
		var obj = document.getElementById("matrix_cit");
		updateTable(obj, resp);
	}
	
	function matrix_prd(resp)
	{
		var obj = document.getElementById("matrix_prd");
		updateTable(obj, resp);
	}

	function pde_cit(resp)
	{
		var obj = document.getElementById("pde_cit");
		updateTable(obj, resp);
	}
	
	function pde_prd(resp)
	{
		var obj = document.getElementById("pde_prd");
		updateTable(obj, resp);
	}

	function tce_cit(resp)
	{
		var obj = document.getElementById("tce_cit");
		updateTable(obj, resp);
	}
	
	function tce_prd(resp)
	{
		var obj = document.getElementById("tce_prd");
		updateTable(obj, resp);
	}

	function wse_cit(resp)
	{
		var obj = document.getElementById("wse_cit");
		updateTable(obj, resp);
	}
	
	function wse_prd(resp)
	{
		var obj = document.getElementById("wse_prd");
		updateTable(obj, resp);
	}

	function rme_cit(resp)
	{
		var obj = document.getElementById("rme_cit");
		updateTable(obj, resp);
	}
	
	function rme_prd(resp)
	{
		var obj = document.getElementById("rme_prd");
		updateTable(obj, resp);
	}

	function transit_cit(resp)
	{
		var obj = document.getElementById("transit_cit");
		updateTable(obj, resp);
	}
	
	function transit_prd(resp)
	{
		var obj = document.getElementById("transit_prd");
		updateTable(obj, resp);
	}

	function test(name, url)
	{
		$(function()
		{
			url += "&app_code=" + app_code + "&app_id=" + app_id;
			// For catalog serivce app_token is required
			if (url.indexOf("navigation-voice") > -1) {
				url = url.replace("app_code", "app_token");
			}
			$.ajax({
					url: url,
					beforeSend: function(jqxhr, settings){
						jqxhr.requestURL = url;
					},
					 dataType: "jsonp",
					jsonpCallback: name,
					
					error: function(request, status, error, n){
						
						var d = request.requestURL.substring(request.requestURL.indexOf("back="));
						d = d.substring(d.indexOf("=") + 1, d.indexOf("&"));
						var obj = document.getElementById(d);
						if (!obj) {
							d = request.requestURL.substring(request.requestURL.indexOf("func="));
							d = d.substring(d.indexOf("=") + 1, d.indexOf("&"));
							obj = document.getElementById(d);
						}
						
						// Catalog service results in parse error but gives an http 200
						if(request.status== 200 && request.requestURL.indexOf("navigation-voice")>-1){
							var sucess = new Object();
							sucess.response = "Available";
							updateTable(obj, sucess);
						}
						else{
							var e = new Object();
							e.error = status;
							updateTable(obj, e);
						}
						
					}
				}); 
		});
	}
	
	function getUrlParameter(param)
	{
		var pageURL = window.location.search.substring(1),
			urlVariables = pageURL.split('&');

		for (var i = 0; i < urlVariables.length; i++){

			var parameterName = urlVariables[i].split('=');
			if (parameterName[0] == param){
				return parameterName[1];
			}
		}
		return null;
	}

	if(getUrlParameter("app_id") && getUrlParameter("app_code"))
	{
		document.getElementById('appIdExt').value = getUrlParameter("app_id");
		document.getElementById('appCodeExt').value = getUrlParameter("app_code")
		init();
	}

</script>
