<% content_for :title, "GDF Viewer" %>

<div class="subheader bb">Build 3.1.2.7 (Released on May 10, 2017)</div>

<div class="container">
	<div class="hvr2-overline-reveal">
		<%= link_to "GDFViewer Installer", "/gdf_viewer/gdfv_setup3128.exe" %>
	</div>

	<div class="hvr2-overline-reveal">
		<%= link_to "User's Guide - PDF", "/gdf_viewer/GDFv_ug.pdf" %>
	</div>

	<div class="hvr2-overline-reveal">
		<%= link_to "User's Guide - DOC", "/gdf_viewer/GDFv_ug.docx" %>
	</div>
</div>

<br/>

<div class="subheader bb">How To Install</div>
<div class="content-text">
	Download the GDFv Installer, open the file and follow the instructions to install. At the end of the installation process the GDFv can be launched from the Windows "Start" menu.
</div>
<br/><br/>
<div class="subheader bb">Compatibility</div>
<div class="content-text">
GDFv runs on most versions of Windows. GDFv is not compatible with Linux, Unix or Macintosh.
</div>
<br/><br/>
<div class="subheader bb">How To Update from Previous Versions</div>
<div class="content-text">
First check the version of the GDFv installed on your computer. Select "About" from the GDFv "Help" menu. The About box will show the build version.
</div>
<br><br>
<div class="content-text">
If the build version shown in the "About" box is older than the version of the GDFv Installer on this page, download the new installer and start the installation process.
<br><br>
You do not need to uninstall the older version first.
<br><br>
At the end of the installation process do check that the newer version has been correctly installed by again selecting "About" from the GDFv "Help" menu.
</div>
<br/>
<div class="subheader bb"></div>
<div class="content-text">
<p>For support on installing and running the HERE GDFv please contact your Technical Customer Support representative or email <a href="mailto:tcs@here.com">tcs@here.com</a></p>
</div>
