<% content_for :title, "HERE TCS site" %>
<div class="content-block">
	<div class="wrapper">
		<div id="cookie-welcome" class="" style="display: block;">
			<h2>Welcome to HERE Technical Customer Support</h2>
			<p>HERE helps people navigate their lives and make sense of the world with intelligent and personal maps. HERE Technical Customer Support is the company’s official Support Team for <u>all</u> HERE products. </p>
		</div>
	</div>
	
	<!--div id="screen"></div>
		<div id="box">
		Please answer one question about your recent support to help us improve our service by clicking <br> 
		<a href="https://here.satmetrix.com/app/datacollection/datacollection/dynaSurvey.jsp?p=MTYAAAAAAAAAAKvgXzr%2FS9Tr37MXdUec8irFQ3KfkT173tFKuMexrRxn17BEGvKDc%2BsaRdL%2FjXZu6V78en4oj7QBHWHHIqi0GECQ2n68wfURinmjiFu7tjUsTX3xj64onYuMCx41BicMdEan4PkMJwNiygBzLzJJ3OdRZJ9mCO24pUEOjg98SBo8fnVq4tt5vjL7Cyb0id0C906dGvnqogqOKuJ4qtZKu6iv9X4N2%2BAhb2sLYVUmJNqr&id=678250824&peid=HERE&collectorType=LINK&hierarchy_3_node_code=HERE_141479&hierarchy_2_node_code=TEMPORARY" target="_blank" style="color:red;font-size:2em">HERE</a>.  
		<br>
		<br>
		<p onclick="closePopup" style="cursor:pointer">No, thanks</p>
	</div-->
	
	<%=  javascript_tag "popup();" %>

	
<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="https://developer.here.com/documentation">Documentation</br>View all Documentation for HERE Services / APIs / SDKs</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="/mobilesdk_examples">Mobile SDK Examples</br>Simple and easy to reuse HERE Mobile SDK examples. More examples can be created on request</a></div></li>
</ul>

	
<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="/examples">TCS Examples</br>Simple and easy to reuse HERE Javascript 3.0 API examples. More examples can be created on request</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="/examples/v3.1">TCS Examples 3.1</br>Simple and easy to reuse HERE Javascript 3.1 API example</a></div></li>
</ul>

<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="/pde">Platform Data Extension</br>Documentation of available data and attributes of the Platform Data Extension</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="/maptools/distributions">Map Tools</br>Collection of tools that can be used for installing and viewing of HERE RDF data and its additional content</a></div></li>
</ul>

<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="https://trafficviewer.ext.here.com/">Traffic Viewer</br>restricted login to a tool to visualize and evaluate the freshest traffic information through a variety of features.</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="https://trafficanalytics.here.com/#/login">Traffic Analytics Query Tool</br>restricted login to the HERE Traffic Analytics Query Tool</a></div></li></ul>

<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="/gdf">GDF Viewer</br>Tool for Viewing GDF Data</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="https://pep.ext.here.com/">Places Extract Portal</br>Fresh custom data delivered quickly via the HERE Places Extract Portal</a></div></li>
</ul>

<ul class="here-menu-modern">
	<li><div class="hvr-overline-reveal"><a href="https://here.flexnetoperations.com">HERE Download Center</br>restricted Login to HERE B2B Download Center</a></div></li>
	<li><div class="hvr-overline-reveal"><a href="https://mapcreator.here.com/">HERE MapCreator</br>HERE MapCreator to report Map Data issues like missing POIs, wrong Speed Limits, missing Streets etc. </a></div></li>
	<!-- <li> <div class="hvr-overline-reveal"><a href="https://here.service-now.com/csm">Service Portal</br>New Customer Service Portal, please ask your TCS representive for access!</a></div></li> -->
</ul>
</div>
