	body {
	    color: #4c4c4c !important;
	    background-color: #fff;
	}
	
	#content-real {
	    margin-left: 0px;
	    background-color: #fff;
	    margin-top: 0px;
	}
	
	#resultContainer {
	    height: 50%;
	    width: 90%;
	    bottom: 0;
	    border: 0px solid #ebebeb;
	    margin: 0 auto;
	    background: white;
	    color: #66707e;
	}
	
	#wrapper {
	    width: 100%;
	    height: calc(100% - 80px);
	    overflow: hidden;
	    background-color: #edf3f5;
	    position: absolute;
	    top: 80px;
	    left: 0px;
	}
	
	#footer {
	    display: none;
	    /*terms/conditions already displayed on the map. dont need two.*/
	}
	
	div#left-col {
	    padding: 0;
	    width: 400px;
	    float: left;
	    overflow-x: hidden;
	    height: calc(100% - 35px);
	    overflow-y: auto;
	}
	
	#left-col input.form-control {
	    height: 25px;
	}
	
	#left-col .form-group {
	    margin-bottom: 5px;
	}
	
	.here-btn {
	    flex: 1 1 auto;
	    margin: 10px;
	    padding: 5px;
	    text-align: center;
	    background-size: 200% auto;
	    color: white !important;
	    box-shadow: 0 0 20px #eee;
	    border-radius: 5px;
	}
	/*darkest #850f89, #8a198e,#922896*/
	
	.here-btn:hover {
	    background: #3493a3;
	    border: #3493a3;
	    color: #fff;
	}
	
	.here-btn-1 {
	    background: #00778b;
	    border: #00778b;
	    color: #fff;
	}
	
	.here-btn-2 {
	    background: #d2cfcf;
	    border: #d2cfcf;
	    color: #fff;
	}
	
	.here-btn-2:hover {
	    background: #eee !important;
	    border: #eee !important;
	    color: #000 !important;
	}
	
	.transparent-button {
	    background-color: transparent;
	    border: 0;
	}
	
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
	}
	
	.leidos-border-color {
	    border-color: #922896;
	}
	
	.leidos-font-color {
	    color: #922896;
	}
	
	div#middle-col {
	    padding: 0;
	    margin: 0;
	    float: left;
	    overflow: hidden;
	}
	/*	div#rightmost-col {
		padding: 0;
		width: 310px;
		float: right;
		overflow-x: hidden;

		height: calc(100% - 35px);
		overflow-y: auto;
	}*/
	
	#content {
	    margin: 0 0 0 300px;
	}
	
	.badge {
	    background: #00afaa;
	}
	
	.info-box .form-control {
	    width: 100%;
	}
	
	hr {
	    border-color: #00afaa;
	}
	
	.border-bottom-grey {
	    border-bottom: 1px solid #ccc;
	}
	
	.border-right-grey {
	    border-right: 1px solid #ccc;
	}
	
	.border-bottom-accent {
	    border-bottom: 1px dashed #00afaa;
	}
	
	.btn-default:not(.query-btn) {
	    margin-top: 2px;
	    padding-top: 2px;
	    padding-bottom: 2px;
	}
	
	#json {
	    outline: 1px solid #ccc;
	    padding: 5px;
	    margin: 5px;
	}
	
	.string {
	    color: green;
	}
	
	.number {
	    color: darkorange;
	}
	
	.boolean {
	    color: blue;
	}
	
	.null {
	    color: magenta;
	}
	
	.key {
	    color: red;
	}
	
	pre {
	    font-size: 10px;
	}