<% content_for :title, "Internal Map Tools" %>
<div class="wrapper">

<div class="subheader bb">Latest release on top</div>

<ul class="list-no-style">
    <% @maptools_version.each do |file| 
		link = "/maptools/internal/"
		%>
        <li class="hvr-overline-reveal"><%= link_to File.basename(file), link + File.basename(file) %></li>
    <% end %>
</ul>
</div>
